Repository acdc-digital/acdc-digital, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/backend-team, @acdc-digital/desktop-team, @acdc-digital/lifeos-team, @acdc-digital/ai-team, @acdc-digital/ruuf-team, @acdc-digital/smnb-team, @acdc-digital/admins, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for ACDC Digital
# This file defines who owns which parts of the codebase and who should review changes

# Global owners - these users/teams will be requested for review on ALL changes
# Replace with your actual GitHub usernames/team names
* @acdc-digital/core-team

# Project-specific ownership
# Each project has its own maintainers

# Main ACDC Digital project
/acdc-digital/ @acdc-digital/frontend-team

# Soloist project - Electron app with Convex backend  
/soloist/ @acdc-digital/soloist-team
/soloist/convex/ @acdc-digital/backend-team
/soloist/renderer/ @acdc-digital/frontend-team
/soloist/website/ @acdc-digital/frontend-team
/soloist/electron/ @acdc-digital/desktop-team

# LifeOS project - Full-stack productivity platform
/lifeOS/ @acdc-digital/lifeos-team
/lifeOS/LifeOS/convex/ @acdc-digital/backend-team
/lifeOS/LifeOS/app/ @acdc-digital/frontend-team
/lifeOS/LifeOS/lib/agents/ @acdc-digital/ai-team

# Donut project - Time tracking
/donut/ @acdc-digital/frontend-team

# Aura project
/aura/ @acdc-digital/frontend-team

# Ruuf project  
/ruuf/ @acdc-digital/ruuf-team

# SMNB project
/smnb/ @acdc-digital/smnb-team

# Critical files that require admin approval
/.github/ @acdc-digital/admins
/package.json @acdc-digital/admins
/pnpm-lock.yaml @acdc-digital/admins
/pnpm-workspace.yaml @acdc-digital/admins
/.gitignore @acdc-digital/admins
/README.md @acdc-digital/admins

# Backend/Database files need backend team review
**/convex/ @acdc-digital/backend-team
**/schema.ts @acdc-digital/backend-team
**/convex.config.ts @acdc-digital/backend-team

# Security-sensitive files need security team review
**/.env* @acdc-digital/security-team
**/auth.ts @acdc-digital/security-team
**/middleware.ts @acdc-digital/security-team
**/webhooks.ts @acdc-digital/security-team

# Frontend files
**/app/ @acdc-digital/frontend-team
**/components/ @acdc-digital/frontend-team
**/src/ @acdc-digital/frontend-team
**/*.tsx @acdc-digital/frontend-team
**/*.jsx @acdc-digital/frontend-team
**/tailwind.config.* @acdc-digital/frontend-team
**/next.config.* @acdc-digital/frontend-team

# AI/ML related files
**/agents/ @acdc-digital/ai-team
**/lib/research/ @acdc-digital/ai-team
**/*claude* @acdc-digital/ai-team
**/*openai* @acdc-digital/ai-team

# Documentation
/docs/ @acdc-digital/docs-team
**/*.md @acdc-digital/docs-team

# Build and deployment
**/scripts/ @acdc-digital/devops-team
**/.github/workflows/ @acdc-digital/devops-team
**/Dockerfile @acdc-digital/devops-team
**/docker-compose* @acdc-digital/devops-team
**/vercel.json @acdc-digital/devops-team

# Package management
**/package.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/package-lock.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/pnpm-lock.yaml @acdc-digital/backend-team @acdc-digital/frontend-team

style: Reorganize badge layout with React starting second row
  README.md
Owners: @acdc-digital/docs-team

style: Reorganize badge layout with React starting second row
  README.md
Owners: @acdc-digital/docs-team

feat: Enhanced AI Reddit Post Generator with Metric-Driven Content Strategy
  smnb/smnb/app/dashboard/activityBar/ActivityBar.tsx
  smnb/smnb/app/dashboard/layout.tsx
  smnb/smnb/app/dashboard/studio/generator/Generator.tsx
  smnb/smnb/app/dashboard/studio/generator/components/Instructions.tsx
  smnb/smnb/app/dashboard/studio/wiki/Wiki.tsx
  smnb/smnb/app/dashboard/studio/wiki/_components/MarkdownEditor.tsx
  smnb/smnb/app/dashboard/studio/wiki/_components/MetricCard.tsx
  smnb/smnb/app/dashboard/studio/wiki/_components/MetricsTable.tsx
  smnb/smnb/app/dashboard/studio/wiki/_components/WikiSidebar.tsx
  smnb/smnb/app/dashboard/studio/wiki/_content/metricsContent.ts
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/costTracking.ts
  smnb/smnb/convex/generateContent.ts
  smnb/smnb/convex/generatedPosts.ts
  smnb/smnb/convex/keywordMetrics.ts
  smnb/smnb/convex/keywords.ts
  smnb/smnb/convex/schema.ts
  smnb/smnb/convex/stats/mutations.ts
  smnb/smnb/convex/storyHistory.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

feat: Enhanced AI Reddit Post Generator with Metric-Driven Content Strategy
  smnb/smnb/app/dashboard/activityBar/ActivityBar.tsx
  smnb/smnb/app/dashboard/layout.tsx
  smnb/smnb/app/dashboard/studio/generator/Generator.tsx
  smnb/smnb/app/dashboard/studio/generator/components/Instructions.tsx
  smnb/smnb/app/dashboard/studio/wiki/Wiki.tsx
  smnb/smnb/app/dashboard/studio/wiki/_components/MarkdownEditor.tsx
  smnb/smnb/app/dashboard/studio/wiki/_components/MetricCard.tsx
  smnb/smnb/app/dashboard/studio/wiki/_components/MetricsTable.tsx
  smnb/smnb/app/dashboard/studio/wiki/_components/WikiSidebar.tsx
  smnb/smnb/app/dashboard/studio/wiki/_content/metricsContent.ts
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/costTracking.ts
  smnb/smnb/convex/generateContent.ts
  smnb/smnb/convex/generatedPosts.ts
  smnb/smnb/convex/keywordMetrics.ts
  smnb/smnb/convex/keywords.ts
  smnb/smnb/convex/schema.ts
  smnb/smnb/convex/stats/mutations.ts
  smnb/smnb/convex/storyHistory.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

fix: update import paths after library reorganization
  smnb/smnb/components/providers/TokenCountingProvider.tsx
  smnb/smnb/convex/redditFeed.ts
  smnb/smnb/convex/redditPosts.ts
  smnb/smnb/convex/stats/mutations.ts
  smnb/smnb/lib/components/ProducerComputerUseIntegration.tsx
  smnb/smnb/lib/services/editor/editorAIService.ts
  smnb/smnb/lib/services/editor/editorConvexService.ts
  smnb/smnb/lib/services/host/claudeLLMService.ts
  smnb/smnb/lib/services/producer/producerAgentService.ts
  smnb/smnb/lib/stores/editor/editorStore.ts
  smnb/smnb/lib/stores/livefeed/simpleLiveFeedStore.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team, @acdc-digital/smnb-team, @acdc-digital/ai-team

fix: update import paths after library reorganization
  smnb/smnb/components/providers/TokenCountingProvider.tsx
  smnb/smnb/convex/redditFeed.ts
  smnb/smnb/convex/redditPosts.ts
  smnb/smnb/convex/stats/mutations.ts
  smnb/smnb/lib/components/ProducerComputerUseIntegration.tsx
  smnb/smnb/lib/services/editor/editorAIService.ts
  smnb/smnb/lib/services/editor/editorConvexService.ts
  smnb/smnb/lib/services/host/claudeLLMService.ts
  smnb/smnb/lib/services/producer/producerAgentService.ts
  smnb/smnb/lib/stores/editor/editorStore.ts
  smnb/smnb/lib/stores/livefeed/simpleLiveFeedStore.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team, @acdc-digital/smnb-team, @acdc-digital/ai-team

feat: Add Vercel deployment config for MCP server and implement chat storage
  smnb/mcp-server/package.json
  smnb/mcp-server/src/http-server.ts
  smnb/mcp-server/vercel.json
  smnb/smnb/convex/schema.ts
  smnb/smnb/convex/sessionManagerChats.ts
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/devops-team, @acdc-digital/ai-team

feat: Add Vercel deployment config for MCP server and implement chat storage
  smnb/mcp-server/package.json
  smnb/mcp-server/src/http-server.ts
  smnb/mcp-server/vercel.json
  smnb/smnb/convex/schema.ts
  smnb/smnb/convex/sessionManagerChats.ts
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/devops-team, @acdc-digital/ai-team

fix: Correct Convex HTTP client query API syntax for all 7 analytics tools
  smnb/mcp-server/src/http-server.ts
Owners: @acdc-digital/frontend-team

fix: Correct Convex HTTP client query API syntax for all 7 analytics tools
  smnb/mcp-server/src/http-server.ts
Owners: @acdc-digital/frontend-team

fix: Add missing lastActivity and status fields to mostActiveSession return validator
  smnb/smnb/convex/analytics.ts
Owners: @acdc-digital/backend-team

fix: Add missing lastActivity and status fields to mostActiveSession return validator
  smnb/smnb/convex/analytics.ts
Owners: @acdc-digital/backend-team

refactor: Migrate SessionManagerAgent to MCP server architecture
  .agents/nexus-implementation-analysis-2025-09-29.md
  .agents/nexus-implementation-gap-analysis.md
  smnb/.docs/sessionManagerChats-implementation.md
  smnb/mcp-server/.gitignore
  smnb/mcp-server/vercel.json
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/lib/agents/base.ts
  smnb/smnb/lib/agents/index.ts
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
  smnb/smnb/lib/agents/registry.ts
  smnb/smnb/lib/services/sessionManager/SessionChatAgent.ts
  smnb/smnb/lib/services/sessionManager/index.ts
  smnb/smnb/lib/services/sessionManager/mcpClient.ts
  smnb/smnb/lib/services/sessionManager/nlpMcpParser.ts
  smnb/smnb/lib/services/sessionManager/test-nlp.ts
Owners: @acdc-digital/docs-team, @acdc-digital/smnb-team, @acdc-digital/devops-team, @acdc-digital/backend-team, @acdc-digital/ai-team

refactor: Migrate SessionManagerAgent to MCP server architecture
  .agents/nexus-implementation-analysis-2025-09-29.md
  .agents/nexus-implementation-gap-analysis.md
  smnb/.docs/sessionManagerChats-implementation.md
  smnb/mcp-server/.gitignore
  smnb/mcp-server/vercel.json
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/lib/agents/base.ts
  smnb/smnb/lib/agents/index.ts
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
  smnb/smnb/lib/agents/registry.ts
  smnb/smnb/lib/services/sessionManager/SessionChatAgent.ts
  smnb/smnb/lib/services/sessionManager/index.ts
  smnb/smnb/lib/services/sessionManager/mcpClient.ts
  smnb/smnb/lib/services/sessionManager/nlpMcpParser.ts
  smnb/smnb/lib/services/sessionManager/test-nlp.ts
Owners: @acdc-digital/docs-team, @acdc-digital/smnb-team, @acdc-digital/devops-team, @acdc-digital/backend-team, @acdc-digital/ai-team

Add MCP server Vercel deployment with Convex API integration
  smnb/.gitignore
  smnb/api/index.js
  smnb/mcp-server/.gitignore
  smnb/mcp-server/build.mjs
  smnb/mcp-server/convex/_generated/api.d.ts
  smnb/mcp-server/convex/_generated/api.js
  smnb/mcp-server/convex/_generated/dataModel.d.ts
  smnb/mcp-server/convex/_generated/server.d.ts
  smnb/mcp-server/convex/_generated/server.js
  smnb/mcp-server/package.json
  smnb/mcp-server/src/http-server.ts
  smnb/mcp-server/src/index.ts
  smnb/mcp-server/tsconfig.json
  smnb/mcp-server/vercel.json
  smnb/package.json
  smnb/vercel.json
Owners: @acdc-digital/smnb-team, @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/devops-team

Add MCP server Vercel deployment with Convex API integration
  smnb/.gitignore
  smnb/api/index.js
  smnb/mcp-server/.gitignore
  smnb/mcp-server/build.mjs
  smnb/mcp-server/convex/_generated/api.d.ts
  smnb/mcp-server/convex/_generated/api.js
  smnb/mcp-server/convex/_generated/dataModel.d.ts
  smnb/mcp-server/convex/_generated/server.d.ts
  smnb/mcp-server/convex/_generated/server.js
  smnb/mcp-server/package.json
  smnb/mcp-server/src/http-server.ts
  smnb/mcp-server/src/index.ts
  smnb/mcp-server/tsconfig.json
  smnb/mcp-server/vercel.json
  smnb/package.json
  smnb/vercel.json
Owners: @acdc-digital/smnb-team, @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/devops-team

Configure Vercel output directory
  smnb/vercel.json
Owners: @acdc-digital/devops-team

Configure Vercel output directory
  smnb/vercel.json
Owners: @acdc-digital/devops-team

Fix serverless handler to use dynamic import
  smnb/api/index.js
Owners: @acdc-digital/smnb-team

Fix serverless handler to use dynamic import
  smnb/api/index.js
Owners: @acdc-digital/smnb-team

Build MCP server as CommonJS for Vercel compatibility
  smnb/api/index.js
  smnb/mcp-server/build.mjs
Owners: @acdc-digital/smnb-team

Build MCP server as CommonJS for Vercel compatibility
  smnb/api/index.js
  smnb/mcp-server/build.mjs
Owners: @acdc-digital/smnb-team

Update build to CommonJS format for Vercel compatibility
  smnb/api/index.js
Owners: @acdc-digital/smnb-team

Update build to CommonJS format for Vercel compatibility
  smnb/api/index.js
Owners: @acdc-digital/smnb-team

Remove shebang from HTTP server build for Vercel compatibility
  smnb/mcp-server/build.mjs
Owners: @acdc-digital/smnb-team

Remove shebang from HTTP server build for Vercel compatibility
  smnb/mcp-server/build.mjs
Owners: @acdc-digital/smnb-team

Fix Convex client lazy initialization and remove shebang from serverless build
  smnb/mcp-server/src/http-server.ts
Owners: @acdc-digital/frontend-team

Fix Convex client lazy initialization and remove shebang from serverless build
  smnb/mcp-server/src/http-server.ts
Owners: @acdc-digital/frontend-team

Add error handling to serverless wrapper
  smnb/api/index.js
Owners: @acdc-digital/smnb-team

Add error handling to serverless wrapper
  smnb/api/index.js
Owners: @acdc-digital/smnb-team

Remove type:module from package.json for CommonJS build
  smnb/mcp-server/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

Remove type:module from package.json for CommonJS build
  smnb/mcp-server/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

Fix CommonJS default export handling in Vercel function
  smnb/api/index.js
Owners: @acdc-digital/smnb-team

Fix CommonJS default export handling in Vercel function
  smnb/api/index.js
Owners: @acdc-digital/smnb-team

Update SessionManagerAgent to use new production MCP server URL
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
Owners: @acdc-digital/ai-team

Update SessionManagerAgent to use new production MCP server URL
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
Owners: @acdc-digital/ai-team

feat(grapes): Add shape analysis feature with Claude 3.7 and Google Maps API
  grapes/.docs/GOOGLE_MAPS_EMBED.md
  grapes/.docs/IFRAME_RESTRICTIONS.md
  grapes/.docs/WEB_PREVIEW.md
  grapes/.docs/grapes.md
  grapes/.docs/quickstart.md
  grapes/.github/copilot-instructions.md
  grapes/.gitignore
  grapes/COMPUTER_USE_SETUP.md
  grapes/README.md
  grapes/SHAPE_ANALYSIS_SUMMARY.md
  grapes/grapes/.design/theme.instructions.md
  grapes/grapes/.gitignore
  grapes/grapes/app/api/computer-use/route.ts
  grapes/grapes/app/demo/page.tsx
  grapes/grapes/app/globals.css
  grapes/grapes/app/layout.tsx
  grapes/grapes/app/page.tsx
  grapes/grapes/components/ai/computer-use-panel.tsx
  grapes/grapes/components/ai/map-overlay.tsx
  grapes/grapes/components/ai/web-preview.tsx
  grapes/grapes/components/ui/button.tsx
  grapes/grapes/components/ui/input.tsx
  grapes/grapes/convex/README.md
  grapes/grapes/convex/_generated/api.d.ts
  grapes/grapes/convex/_generated/api.js
  grapes/grapes/convex/_generated/dataModel.d.ts
  grapes/grapes/convex/_generated/server.d.ts
  grapes/grapes/convex/_generated/server.js
  grapes/grapes/convex/convex.config.ts
  grapes/grapes/convex/items.ts
  grapes/grapes/convex/schema.ts
  grapes/grapes/convex/tsconfig.json
  grapes/grapes/eslint.config.mjs
  grapes/grapes/lib/utils.ts
  grapes/grapes/next.config.ts
  grapes/grapes/package.json
  grapes/grapes/postcss.config.mjs
  grapes/grapes/tailwind.config.ts
  grapes/grapes/tsconfig.json
Owners: @acdc-digital/docs-team, @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/backend-team

feat(grapes): Add shape analysis feature with Claude 3.7 and Google Maps API
  grapes/.docs/GOOGLE_MAPS_EMBED.md
  grapes/.docs/IFRAME_RESTRICTIONS.md
  grapes/.docs/WEB_PREVIEW.md
  grapes/.docs/grapes.md
  grapes/.docs/quickstart.md
  grapes/.github/copilot-instructions.md
  grapes/.gitignore
  grapes/COMPUTER_USE_SETUP.md
  grapes/README.md
  grapes/SHAPE_ANALYSIS_SUMMARY.md
  grapes/grapes/.design/theme.instructions.md
  grapes/grapes/.gitignore
  grapes/grapes/app/api/computer-use/route.ts
  grapes/grapes/app/demo/page.tsx
  grapes/grapes/app/globals.css
  grapes/grapes/app/layout.tsx
  grapes/grapes/app/page.tsx
  grapes/grapes/components/ai/computer-use-panel.tsx
  grapes/grapes/components/ai/map-overlay.tsx
  grapes/grapes/components/ai/web-preview.tsx
  grapes/grapes/components/ui/button.tsx
  grapes/grapes/components/ui/input.tsx
  grapes/grapes/convex/README.md
  grapes/grapes/convex/_generated/api.d.ts
  grapes/grapes/convex/_generated/api.js
  grapes/grapes/convex/_generated/dataModel.d.ts
  grapes/grapes/convex/_generated/server.d.ts
  grapes/grapes/convex/_generated/server.js
  grapes/grapes/convex/convex.config.ts
  grapes/grapes/convex/items.ts
  grapes/grapes/convex/schema.ts
  grapes/grapes/convex/tsconfig.json
  grapes/grapes/eslint.config.mjs
  grapes/grapes/lib/utils.ts
  grapes/grapes/next.config.ts
  grapes/grapes/package.json
  grapes/grapes/postcss.config.mjs
  grapes/grapes/tailwind.config.ts
  grapes/grapes/tsconfig.json
Owners: @acdc-digital/docs-team, @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/backend-team

docs: add mono-repo project breakdown table with LOC and size metrics
  README.md
Owners: @acdc-digital/docs-team

docs: add mono-repo project breakdown table with LOC and size metrics
  README.md
Owners: @acdc-digital/docs-team
