Repository acdc-digital/acdc-digital, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/backend-team, @acdc-digital/desktop-team, @acdc-digital/lifeos-team, @acdc-digital/ai-team, @acdc-digital/ruuf-team, @acdc-digital/smnb-team, @acdc-digital/admins, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/devops-team

Make redirect countdown subtle
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/frontend-team

Make redirect countdown subtle
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/frontend-team

Fix Stripe lazy initialization to prevent SSR caching issues
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/frontend-team

Fix Stripe lazy initialization to prevent SSR caching issues
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/frontend-team

Fix Stripe payment flow: lazy env var loading and non-blocking payment updates
  soloist/convex/http.ts
  soloist/convex/stripe.ts
  soloist/website/app/api/check-subscription-status/route.ts
  soloist/website/app/api/create-checkout-session/route.ts
  soloist/website/app/api/get-checkout-session/route.ts
  soloist/website/app/api/webhook/stripe/route.ts
  soloist/website/lib/stripe/stripeLoader.ts
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

Fix Stripe payment flow: lazy env var loading and non-blocking payment updates
  soloist/convex/http.ts
  soloist/convex/stripe.ts
  soloist/website/app/api/check-subscription-status/route.ts
  soloist/website/app/api/create-checkout-session/route.ts
  soloist/website/app/api/get-checkout-session/route.ts
  soloist/website/app/api/webhook/stripe/route.ts
  soloist/website/lib/stripe/stripeLoader.ts
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

Update README: Rebrand to Full Service Digital Studio, add featured projects with descriptions
  README.md
Owners: @acdc-digital/docs-team

Update README: Rebrand to Full Service Digital Studio, add featured projects with descriptions
  README.md
Owners: @acdc-digital/docs-team

Add Soloist favicon and fix hydration errors in Roadmap component
  soloist/demo/app/globals.css
  soloist/demo/app/layout.tsx
  soloist/demo/app/settings/SettingsDialog.tsx
  soloist/marketing/.gitignore
  soloist/marketing/app/dashboard/_components/ActivityBar.tsx
  soloist/marketing/app/dashboard/_components/WikiSidebar.tsx
  soloist/marketing/app/dashboard/_components/livefeed/InsightCard.tsx
  soloist/marketing/app/dashboard/_components/livefeed/LiveFeed.tsx
  soloist/marketing/app/dashboard/controls/_components/types.ts
  soloist/marketing/lib/stores/simpleLiveFeedStore.ts
  soloist/website/app/icon.svg
  soloist/website/app/layout.tsx
  soloist/website/components/features/ForecastDemo.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/landing/Steps_v2.tsx
  soloist/website/modals/SignupPaymentModal.tsx
  soloist/website/public/acdc-soloistIcon.svg
  soloist/website/public/favicon.svg
Owners: @acdc-digital/frontend-team, @acdc-digital/soloist-team

Add Soloist favicon and fix hydration errors in Roadmap component
  soloist/demo/app/globals.css
  soloist/demo/app/layout.tsx
  soloist/demo/app/settings/SettingsDialog.tsx
  soloist/marketing/.gitignore
  soloist/marketing/app/dashboard/_components/ActivityBar.tsx
  soloist/marketing/app/dashboard/_components/WikiSidebar.tsx
  soloist/marketing/app/dashboard/_components/livefeed/InsightCard.tsx
  soloist/marketing/app/dashboard/_components/livefeed/LiveFeed.tsx
  soloist/marketing/app/dashboard/controls/_components/types.ts
  soloist/marketing/lib/stores/simpleLiveFeedStore.ts
  soloist/website/app/icon.svg
  soloist/website/app/layout.tsx
  soloist/website/components/features/ForecastDemo.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/landing/Steps_v2.tsx
  soloist/website/modals/SignupPaymentModal.tsx
  soloist/website/public/acdc-soloistIcon.svg
  soloist/website/public/favicon.svg
Owners: @acdc-digital/frontend-team, @acdc-digital/soloist-team

Update favicon to v2 icon
  soloist/website/app/layout.tsx
  soloist/website/public/acdc-soloisticon_v2.svg
Owners: @acdc-digital/frontend-team

Update favicon to v2 icon
  soloist/website/app/layout.tsx
  soloist/website/public/acdc-soloisticon_v2.svg
Owners: @acdc-digital/frontend-team

Update renderer favicon to v2 blue icon
  soloist/renderer/app/layout.tsx
  soloist/renderer/public/soloicov2-rend.svg
Owners: @acdc-digital/frontend-team

Update renderer favicon to v2 blue icon
  soloist/renderer/app/layout.tsx
  soloist/renderer/public/soloicov2-rend.svg
Owners: @acdc-digital/frontend-team

Add marketing favicon with red v2 icon
  soloist/marketing/app/icon.svg
  soloist/marketing/app/layout.tsx
  soloist/marketing/public/soloicov2-marketing.svg
Owners: @acdc-digital/frontend-team, @acdc-digital/soloist-team

Add marketing favicon with red v2 icon
  soloist/marketing/app/icon.svg
  soloist/marketing/app/layout.tsx
  soloist/marketing/public/soloicov2-marketing.svg
Owners: @acdc-digital/frontend-team, @acdc-digital/soloist-team

Update marketing layout
  soloist/marketing/app/layout.tsx
Owners: @acdc-digital/frontend-team

Update marketing layout
  soloist/marketing/app/layout.tsx
Owners: @acdc-digital/frontend-team

Update README
  README.md
Owners: @acdc-digital/docs-team

Update README
  README.md
Owners: @acdc-digital/docs-team

Expand brand wiki with comprehensive design system documentation
  soloist/demo/app/dashboard/_components/ThemeToggle.tsx
  soloist/website/app/wiki/brand/page.tsx
  soloist/website/components/features/BaselineAssessmentDemo.tsx
  soloist/website/components/features/ForecastDemo.tsx
  soloist/website/components/features/HeatmapJournalDemo.tsx
  soloist/website/components/landing/Steps_v2.tsx
  soloist/website/components/layout/Navbar.tsx
  soloist/website/components/ui/bento-grid.tsx
  soloist/website/public/BrowserLogos.svg
Owners: @acdc-digital/frontend-team

Expand brand wiki with comprehensive design system documentation
  soloist/demo/app/dashboard/_components/ThemeToggle.tsx
  soloist/website/app/wiki/brand/page.tsx
  soloist/website/components/features/BaselineAssessmentDemo.tsx
  soloist/website/components/features/ForecastDemo.tsx
  soloist/website/components/features/HeatmapJournalDemo.tsx
  soloist/website/components/landing/Steps_v2.tsx
  soloist/website/components/layout/Navbar.tsx
  soloist/website/components/ui/bento-grid.tsx
  soloist/website/public/BrowserLogos.svg
Owners: @acdc-digital/frontend-team

fix: payment pipeline - add nodejs runtime, fix vercel.json env vars
  soloist/marketing/.docs/BRAND_GUIDELINES.md
  soloist/website/app/api/create-checkout-session/route.ts
  soloist/website/vercel.json
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team, @acdc-digital/devops-team

fix: payment pipeline - add nodejs runtime, fix vercel.json env vars
  soloist/marketing/.docs/BRAND_GUIDELINES.md
  soloist/website/app/api/create-checkout-session/route.ts
  soloist/website/vercel.json
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team, @acdc-digital/devops-team

fix: update GitHub stats username
  README.md
Owners: @acdc-digital/docs-team

fix: update GitHub stats username
  README.md
Owners: @acdc-digital/docs-team

fix: update GitHub stats with include_all_commits
  README.md
Owners: @acdc-digital/docs-team

fix: update GitHub stats with include_all_commits
  README.md
Owners: @acdc-digital/docs-team

fix: bento grid styling - light backgrounds, consistent text colors, dark inner cards for steps 4/5
  README.md
  soloist/demo/app/dashboard/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/_components/RightSidebar.tsx
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/testing/_components/Navigation.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineChatPanel.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/waypoints/page.tsx
  soloist/renderer/components/ai/prompt-input.tsx
  soloist/renderer/components/icons/HeatmapIcon.tsx
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/components/features/BaselineAssessmentDemo.tsx
  soloist/website/components/features/ForecastDemo.tsx
  soloist/website/components/features/HeatmapJournalDemo.tsx
  soloist/website/components/landing/Steps_v2.tsx
  soloist/website/components/ui/bento-grid.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team

fix: bento grid styling - light backgrounds, consistent text colors, dark inner cards for steps 4/5
  README.md
  soloist/demo/app/dashboard/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/_components/RightSidebar.tsx
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/testing/_components/Navigation.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineChatPanel.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/waypoints/page.tsx
  soloist/renderer/components/ai/prompt-input.tsx
  soloist/renderer/components/icons/HeatmapIcon.tsx
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/components/features/BaselineAssessmentDemo.tsx
  soloist/website/components/features/ForecastDemo.tsx
  soloist/website/components/features/HeatmapJournalDemo.tsx
  soloist/website/components/landing/Steps_v2.tsx
  soloist/website/components/ui/bento-grid.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team

fix: standardize dashboard heatmap and right sidebar styling
  soloist/renderer/app/dashboard/_components/Controls.tsx
  soloist/renderer/app/dashboard/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/_components/RightSidebar.tsx
  soloist/renderer/app/dashboard/_components/YearSelector.tsx
  soloist/renderer/app/dashboard/_components/dailyLogForm.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/components/ViewContainer.tsx
Owners: @acdc-digital/frontend-team

fix: standardize dashboard heatmap and right sidebar styling
  soloist/renderer/app/dashboard/_components/Controls.tsx
  soloist/renderer/app/dashboard/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/_components/RightSidebar.tsx
  soloist/renderer/app/dashboard/_components/YearSelector.tsx
  soloist/renderer/app/dashboard/_components/dailyLogForm.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/components/ViewContainer.tsx
Owners: @acdc-digital/frontend-team

Restyle dailyLogForm to match BaselineSelfAnalysisForm design
  soloist/renderer/app/dashboard/_components/dailyLogForm.tsx
Owners: @acdc-digital/frontend-team

Restyle dailyLogForm to match BaselineSelfAnalysisForm design
  soloist/renderer/app/dashboard/_components/dailyLogForm.tsx
Owners: @acdc-digital/frontend-team

Add LongForm editor component with mode toggle
  soloist/renderer/app/dashboard/_components/LongForm.tsx
  soloist/renderer/app/dashboard/_components/dailyLogForm.tsx
Owners: @acdc-digital/frontend-team

Add LongForm editor component with mode toggle
  soloist/renderer/app/dashboard/_components/LongForm.tsx
  soloist/renderer/app/dashboard/_components/dailyLogForm.tsx
Owners: @acdc-digital/frontend-team

Redesign Testing/Sandbox page with neutral color scheme
  soloist/convex/_generated/api.d.ts
  soloist/convex/longForm.ts
  soloist/convex/schema.ts
  soloist/renderer/app/dashboard/_components/LongForm.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
  soloist/renderer/app/dashboard/testing/_components/Consult.tsx
  soloist/renderer/app/dashboard/testing/_components/Insights.tsx
  soloist/renderer/app/dashboard/testing/_components/Navigation.tsx
  soloist/renderer/app/dashboard/testing/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/testing/_components/navCalendar.tsx
  soloist/renderer/app/dashboard/testing/page.tsx
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

Redesign Testing/Sandbox page with neutral color scheme
  soloist/convex/_generated/api.d.ts
  soloist/convex/longForm.ts
  soloist/convex/schema.ts
  soloist/renderer/app/dashboard/_components/LongForm.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
  soloist/renderer/app/dashboard/testing/_components/Consult.tsx
  soloist/renderer/app/dashboard/testing/_components/Insights.tsx
  soloist/renderer/app/dashboard/testing/_components/Navigation.tsx
  soloist/renderer/app/dashboard/testing/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/testing/_components/navCalendar.tsx
  soloist/renderer/app/dashboard/testing/page.tsx
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

Compact Sandbox layout with better space utilization
  soloist/renderer/app/dashboard/testing/_components/Navigation.tsx
  soloist/renderer/app/dashboard/testing/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/testing/page.tsx
Owners: @acdc-digital/frontend-team

Compact Sandbox layout with better space utilization
  soloist/renderer/app/dashboard/testing/_components/Navigation.tsx
  soloist/renderer/app/dashboard/testing/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/testing/page.tsx
Owners: @acdc-digital/frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for ACDC Digital
# This file defines who owns which parts of the codebase and who should review changes

# Global owners - these users/teams will be requested for review on ALL changes
# Replace with your actual GitHub usernames/team names
* @acdc-digital/core-team

# Project-specific ownership
# Each project has its own maintainers

# Main ACDC Digital project
/acdc-digital/ @acdc-digital/frontend-team

# Soloist project - Electron app with Convex backend  
/soloist/ @acdc-digital/soloist-team
/soloist/convex/ @acdc-digital/backend-team
/soloist/renderer/ @acdc-digital/frontend-team
/soloist/website/ @acdc-digital/frontend-team
/soloist/electron/ @acdc-digital/desktop-team

# LifeOS project - Full-stack productivity platform
/lifeOS/ @acdc-digital/lifeos-team
/lifeOS/LifeOS/convex/ @acdc-digital/backend-team
/lifeOS/LifeOS/app/ @acdc-digital/frontend-team
/lifeOS/LifeOS/lib/agents/ @acdc-digital/ai-team

# Donut project - Time tracking
/donut/ @acdc-digital/frontend-team

# Aura project
/aura/ @acdc-digital/frontend-team

# Ruuf project  
/ruuf/ @acdc-digital/ruuf-team

# SMNB project
/smnb/ @acdc-digital/smnb-team

# Critical files that require admin approval
/.github/ @acdc-digital/admins
/package.json @acdc-digital/admins
/pnpm-lock.yaml @acdc-digital/admins
/pnpm-workspace.yaml @acdc-digital/admins
/.gitignore @acdc-digital/admins
/README.md @acdc-digital/admins

# Backend/Database files need backend team review
**/convex/ @acdc-digital/backend-team
**/schema.ts @acdc-digital/backend-team
**/convex.config.ts @acdc-digital/backend-team

# Security-sensitive files need security team review
**/.env* @acdc-digital/security-team
**/auth.ts @acdc-digital/security-team
**/middleware.ts @acdc-digital/security-team
**/webhooks.ts @acdc-digital/security-team

# Frontend files
**/app/ @acdc-digital/frontend-team
**/components/ @acdc-digital/frontend-team
**/src/ @acdc-digital/frontend-team
**/*.tsx @acdc-digital/frontend-team
**/*.jsx @acdc-digital/frontend-team
**/tailwind.config.* @acdc-digital/frontend-team
**/next.config.* @acdc-digital/frontend-team

# AI/ML related files
**/agents/ @acdc-digital/ai-team
**/lib/research/ @acdc-digital/ai-team
**/*claude* @acdc-digital/ai-team
**/*openai* @acdc-digital/ai-team

# Documentation
/docs/ @acdc-digital/docs-team
**/*.md @acdc-digital/docs-team

# Build and deployment
**/scripts/ @acdc-digital/devops-team
**/.github/workflows/ @acdc-digital/devops-team
**/Dockerfile @acdc-digital/devops-team
**/docker-compose* @acdc-digital/devops-team
**/vercel.json @acdc-digital/devops-team

# Package management
**/package.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/package-lock.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/pnpm-lock.yaml @acdc-digital/backend-team @acdc-digital/frontend-team
