Repository acdc-digital/acdc-digital, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/backend-team, @acdc-digital/desktop-team, @acdc-digital/lifeos-team, @acdc-digital/ai-team, @acdc-digital/ruuf-team, @acdc-digital/smnb-team, @acdc-digital/admins, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/devops-team

Redesign sign-in page with embedded auth form
  .mcp.json
  soloist/electron/index.js
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/renderer/app/dashboard/_components/modals/SignInModal.tsx
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/page.tsx
Owners: @acdc-digital/core-team, @acdc-digital/desktop-team, @acdc-digital/frontend-team

Redesign sign-in page with embedded auth form
  .mcp.json
  soloist/electron/index.js
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/renderer/app/dashboard/_components/modals/SignInModal.tsx
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/page.tsx
Owners: @acdc-digital/core-team, @acdc-digital/desktop-team, @acdc-digital/frontend-team

Update draggable header layout and height
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/renderer/app/dashboard/layout.tsx
Owners: @acdc-digital/frontend-team

Update draggable header layout and height
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/renderer/app/dashboard/layout.tsx
Owners: @acdc-digital/frontend-team

Remove page headers to maximize content space
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/renderer/app/dashboard/base/page.tsx
  soloist/renderer/app/dashboard/canvas/page.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
Owners: @acdc-digital/frontend-team

Remove page headers to maximize content space
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/renderer/app/dashboard/base/page.tsx
  soloist/renderer/app/dashboard/canvas/page.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
Owners: @acdc-digital/frontend-team

feat(website): replace download modal with direct downloads and update redirect URLs
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/website/app/wiki/system-requirements/page.tsx
  soloist/website/components/landing/HeroHeader.tsx
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/frontend-team

feat(website): replace download modal with direct downloads and update redirect URLs
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/website/app/wiki/system-requirements/page.tsx
  soloist/website/components/landing/HeroHeader.tsx
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/frontend-team

fix: adjust titleBarStyle to 'hidden' and set trafficLightPosition for macOS window controls
  soloist/electron/index.js
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/website/app/wiki/layout.tsx
Owners: @acdc-digital/desktop-team, @acdc-digital/frontend-team

fix: adjust titleBarStyle to 'hidden' and set trafficLightPosition for macOS window controls
  soloist/electron/index.js
  soloist/renderer/app/dashboard/_components/DraggableHeader.tsx
  soloist/website/app/wiki/layout.tsx
Owners: @acdc-digital/desktop-team, @acdc-digital/frontend-team

chore: bump version to 2.0.3
  soloist/electron/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

chore: bump version to 2.0.3
  soloist/electron/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

security: remove hardcoded webhook secret from test file
  soloist/test/test-real-webhook.js
Owners: @acdc-digital/soloist-team

security: remove hardcoded webhook secret from test file
  soloist/test/test-real-webhook.js
Owners: @acdc-digital/soloist-team

feat(renderer): update design system and improve UX
  soloist/renderer/app/dashboard/heatmap/_components/Controls.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Feed.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/page.tsx
Owners: @acdc-digital/frontend-team

feat(renderer): update design system and improve UX
  soloist/renderer/app/dashboard/heatmap/_components/Controls.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Feed.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/page.tsx
Owners: @acdc-digital/frontend-team

Add blur effect and smooth resize transition to heatmap badges
  soloist/renderer/app/dashboard/heatmap/_components/Heatmap.tsx
Owners: @acdc-digital/frontend-team

Add blur effect and smooth resize transition to heatmap badges
  soloist/renderer/app/dashboard/heatmap/_components/Heatmap.tsx
Owners: @acdc-digital/frontend-team

refactor(soloist): restructure dashboard layout with chart components
  .trunk/trunk.yaml
  aura/AURA/package.json
  pnpm-lock.yaml
  soloist/electron/index.js
  soloist/renderer/app/dashboard/_components/RightSidebar.tsx
  soloist/renderer/app/dashboard/soloist/_components/ChartFooter.tsx
  soloist/renderer/app/dashboard/soloist/_components/ChartHeader.tsx
  soloist/renderer/app/dashboard/soloist/_components/DailyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/ForecastChart.tsx
  soloist/renderer/app/dashboard/soloist/_components/KeyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/PageSidebar.tsx
  soloist/renderer/app/dashboard/soloist/_components/StatsPanel.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeekGrid.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
  soloist/website/package-lock.json
  soloist/website/proxy.ts
Owners: @acdc-digital/core-team, @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/desktop-team

refactor(soloist): restructure dashboard layout with chart components
  .trunk/trunk.yaml
  aura/AURA/package.json
  pnpm-lock.yaml
  soloist/electron/index.js
  soloist/renderer/app/dashboard/_components/RightSidebar.tsx
  soloist/renderer/app/dashboard/soloist/_components/ChartFooter.tsx
  soloist/renderer/app/dashboard/soloist/_components/ChartHeader.tsx
  soloist/renderer/app/dashboard/soloist/_components/DailyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/ForecastChart.tsx
  soloist/renderer/app/dashboard/soloist/_components/KeyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/PageSidebar.tsx
  soloist/renderer/app/dashboard/soloist/_components/StatsPanel.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeekGrid.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
  soloist/website/package-lock.json
  soloist/website/proxy.ts
Owners: @acdc-digital/core-team, @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/desktop-team

style(soloist): adjust DailyInsights score card sizing
  soloist/renderer/app/dashboard/soloist/_components/DailyInsights.tsx
Owners: @acdc-digital/frontend-team

style(soloist): adjust DailyInsights score card sizing
  soloist/renderer/app/dashboard/soloist/_components/DailyInsights.tsx
Owners: @acdc-digital/frontend-team

style(soloist): UI polish and layout adjustments
  soloist/renderer/app/dashboard/base/page.tsx
  soloist/renderer/app/dashboard/soloist/_components/DailyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/ForecastChart.tsx
  soloist/renderer/app/dashboard/soloist/_components/PageSidebar.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
Owners: @acdc-digital/frontend-team

style(soloist): UI polish and layout adjustments
  soloist/renderer/app/dashboard/base/page.tsx
  soloist/renderer/app/dashboard/soloist/_components/DailyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/ForecastChart.tsx
  soloist/renderer/app/dashboard/soloist/_components/PageSidebar.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
Owners: @acdc-digital/frontend-team

UI redesign: Daily Log Form header consolidation, Templates & Feed styling updates
  soloist/renderer/app/dashboard/heatmap/_components/CommentSection.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Controls.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Feed.tsx
  soloist/renderer/app/dashboard/heatmap/_components/FeedFooter.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Tags.tsx
  soloist/renderer/app/dashboard/heatmap/_components/TemplateSelector.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Templates.tsx
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/website/app/sitemap.ts
Owners: @acdc-digital/frontend-team

UI redesign: Daily Log Form header consolidation, Templates & Feed styling updates
  .legal/NS-RJSC-ApplicationRegister.pdf
  .legal/NS-RJSC-BusinessNumber.pdf
  .legal/NS-RJSC-NameReserve.pdf
  soloist/renderer/app/dashboard/heatmap/_components/CommentSection.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Controls.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Feed.tsx
  soloist/renderer/app/dashboard/heatmap/_components/FeedFooter.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Tags.tsx
  soloist/renderer/app/dashboard/heatmap/_components/TemplateSelector.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Templates.tsx
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/website/app/sitemap.ts
Owners: @acdc-digital/core-team, @acdc-digital/frontend-team

Clean up BaselineChatPanel and LongForm UI components
  soloist/renderer/app/dashboard/base/_components/BaselineChatPanel.tsx
  soloist/renderer/app/dashboard/heatmap/_components/LongForm.tsx
Owners: @acdc-digital/frontend-team

Clean up BaselineChatPanel and LongForm UI components
  soloist/renderer/app/dashboard/base/_components/BaselineChatPanel.tsx
  soloist/renderer/app/dashboard/heatmap/_components/LongForm.tsx
Owners: @acdc-digital/frontend-team

UI refinements: progress percentage indicators and fixed WeekGrid sizing
  soloist/renderer/app/dashboard/base/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeekGrid.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
Owners: @acdc-digital/frontend-team

UI refinements: progress percentage indicators and fixed WeekGrid sizing
  soloist/renderer/app/dashboard/base/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeekGrid.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
Owners: @acdc-digital/frontend-team

security: harden admin panel with role-based access control
  soloist/.docs/security/admin-security-audit-2024-12-14.md
  soloist/convex/_generated/api.d.ts
  soloist/convex/admin.ts
  soloist/convex/anthropic.ts
  soloist/convex/cleanupAuth.ts
  soloist/convex/feed.ts
  soloist/convex/feedback.ts
  soloist/convex/generator.ts
  soloist/convex/learnMore.ts
  soloist/convex/lib/requireAdmin.ts
  soloist/convex/newsletter.ts
  soloist/convex/score.ts
  soloist/convex/users.ts
  soloist/convex/waitlist.ts
  soloist/renderer/app/dashboard/base/page.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Feed.tsx
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
  soloist/renderer/app/dashboard/soloist/_components/DateRangeSelector.tsx
  soloist/renderer/app/dashboard/soloist/_components/PageSidebar.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeekGrid.tsx
  soloist/website/app/admin/_components/Admin.tsx
  soloist/website/app/admin/_components/Docs.tsx
  soloist/website/app/admin/_components/Feedback.tsx
  soloist/website/app/admin/_components/StripeSetupInstructions.tsx
  soloist/website/app/admin/_components/SubscriptionStatus.tsx
  soloist/website/app/admin/page.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/layout/Footer.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/backend-team, @acdc-digital/frontend-team

security: harden admin panel with role-based access control
  soloist/.docs/security/admin-security-audit-2024-12-14.md
  soloist/convex/_generated/api.d.ts
  soloist/convex/admin.ts
  soloist/convex/anthropic.ts
  soloist/convex/cleanupAuth.ts
  soloist/convex/feed.ts
  soloist/convex/feedback.ts
  soloist/convex/generator.ts
  soloist/convex/learnMore.ts
  soloist/convex/lib/requireAdmin.ts
  soloist/convex/newsletter.ts
  soloist/convex/score.ts
  soloist/convex/users.ts
  soloist/convex/waitlist.ts
  soloist/renderer/app/dashboard/base/page.tsx
  soloist/renderer/app/dashboard/heatmap/_components/Feed.tsx
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
  soloist/renderer/app/dashboard/soloist/_components/DateRangeSelector.tsx
  soloist/renderer/app/dashboard/soloist/_components/PageSidebar.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeekGrid.tsx
  soloist/website/app/admin/_components/Admin.tsx
  soloist/website/app/admin/_components/Docs.tsx
  soloist/website/app/admin/_components/Feedback.tsx
  soloist/website/app/admin/_components/StripeSetupInstructions.tsx
  soloist/website/app/admin/_components/SubscriptionStatus.tsx
  soloist/website/app/admin/page.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/layout/Footer.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/backend-team, @acdc-digital/frontend-team

Sidebar: add Feedback button, change Guide icon to TableOfContents
  soloist/.docs/database/CONVEX_REORGANIZATION.md
  soloist/convex/REORGANIZATION_PLAN.md
  soloist/renderer/app/dashboard/_components/sidebar.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team

Sidebar: add Feedback button, change Guide icon to TableOfContents
  soloist/.docs/database/CONVEX_REORGANIZATION.md
  soloist/convex/REORGANIZATION_PLAN.md
  soloist/renderer/app/dashboard/_components/sidebar.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team

Refactor canvas layout: add sidebar, footer, and improve controls
  soloist/renderer/app/dashboard/canvas/_components/CanvasControls.tsx
  soloist/renderer/app/dashboard/canvas/_components/CanvasFooter.tsx
  soloist/renderer/app/dashboard/canvas/_components/SessionSidebar.tsx
  soloist/renderer/app/dashboard/canvas/_components/TldrawWrapper.tsx
  soloist/renderer/app/dashboard/canvas/page.tsx
Owners: @acdc-digital/frontend-team

Refactor canvas layout: add sidebar, footer, and improve controls
  soloist/renderer/app/dashboard/canvas/_components/CanvasControls.tsx
  soloist/renderer/app/dashboard/canvas/_components/CanvasFooter.tsx
  soloist/renderer/app/dashboard/canvas/_components/SessionSidebar.tsx
  soloist/renderer/app/dashboard/canvas/_components/TldrawWrapper.tsx
  soloist/renderer/app/dashboard/canvas/page.tsx
Owners: @acdc-digital/frontend-team

feat(heatmap): default to daily log tab if no log exists for today, auto-scroll to center current day
  soloist/renderer/app/dashboard/heatmap/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/page.tsx
Owners: @acdc-digital/frontend-team

feat(heatmap): default to daily log tab if no log exists for today, auto-scroll to center current day
  soloist/renderer/app/dashboard/heatmap/_components/Heatmap.tsx
  soloist/renderer/app/dashboard/page.tsx
Owners: @acdc-digital/frontend-team

feat(help): Pure React/Tailwind help page with interactive annotated dashboard
  .design/prose-mdx/components/callout.md
  .design/prose-mdx/components/card.md
  .design/prose-mdx/components/codeblock.md
  .design/prose-mdx/components/codegroup.md
  .design/prose-mdx/components/frame.md
  .design/prose-mdx/components/image.md
  .design/prose-mdx/components/link.md
  .design/prose-mdx/components/math.md
  .design/prose-mdx/components/steps.md
  .design/prose-mdx/components/table.md
  .design/prose-mdx/components/tabs.md
  .design/prose-mdx/components/typography.md
  .design/prose-mdx/introduction.md
  .design/prose-mdx/styling.md
  soloist/pnpm-lock.yaml
  soloist/public/Frame 57 (1).jpg
  soloist/public/solologo.ico
  soloist/public/solologo.png
  soloist/public/solologo_256.ico
  soloist/public/solologo_WIN.ico
  soloist/renderer/.gitignore
  soloist/renderer/app/dashboard/help/components/AnnotatedDashboard.tsx
  soloist/renderer/app/dashboard/help/components/FeedbackForm.tsx
  soloist/renderer/app/dashboard/help/components/GuideComponents.tsx
  soloist/renderer/app/dashboard/help/components/HelpLayoutClient.tsx
  soloist/renderer/app/dashboard/help/components/UserGuide.tsx
  soloist/renderer/app/dashboard/help/page.tsx
  soloist/renderer/app/globals.css
  soloist/renderer/app/help/page.tsx
  soloist/renderer/package.json
  soloist/renderer/public/soloist-main_v2.svg
  soloist/renderer/public/soloist-notes_v2.svg
  soloist/renderer/public/solologo.svg
  soloist/renderer/public/solomonlg.svg
Owners: @acdc-digital/docs-team, @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team

feat(help): Pure React/Tailwind help page with interactive annotated dashboard
  .design/prose-mdx/components/callout.md
  .design/prose-mdx/components/card.md
  .design/prose-mdx/components/codeblock.md
  .design/prose-mdx/components/codegroup.md
  .design/prose-mdx/components/frame.md
  .design/prose-mdx/components/image.md
  .design/prose-mdx/components/link.md
  .design/prose-mdx/components/math.md
  .design/prose-mdx/components/steps.md
  .design/prose-mdx/components/table.md
  .design/prose-mdx/components/tabs.md
  .design/prose-mdx/components/typography.md
  .design/prose-mdx/introduction.md
  .design/prose-mdx/styling.md
  soloist/pnpm-lock.yaml
  soloist/public/Frame 57 (1).jpg
  soloist/public/solologo.ico
  soloist/public/solologo.png
  soloist/public/solologo_256.ico
  soloist/public/solologo_WIN.ico
  soloist/renderer/.gitignore
  soloist/renderer/app/dashboard/help/components/AnnotatedDashboard.tsx
  soloist/renderer/app/dashboard/help/components/FeedbackForm.tsx
  soloist/renderer/app/dashboard/help/components/GuideComponents.tsx
  soloist/renderer/app/dashboard/help/components/HelpLayoutClient.tsx
  soloist/renderer/app/dashboard/help/components/UserGuide.tsx
  soloist/renderer/app/dashboard/help/page.tsx
  soloist/renderer/app/globals.css
  soloist/renderer/app/help/page.tsx
  soloist/renderer/package.json
  soloist/renderer/public/soloist-main_v2.svg
  soloist/renderer/public/soloist-notes_v2.svg
  soloist/renderer/public/solologo.svg
  soloist/renderer/public/solomonlg.svg
Owners: @acdc-digital/docs-team, @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team

.github/CODEOWNERS:

# CODEOWNERS file for ACDC Digital
# This file defines who owns which parts of the codebase and who should review changes

# Global owners - these users/teams will be requested for review on ALL changes
# Replace with your actual GitHub usernames/team names
* @acdc-digital/core-team

# Project-specific ownership
# Each project has its own maintainers

# Main ACDC Digital project
/acdc-digital/ @acdc-digital/frontend-team

# Soloist project - Electron app with Convex backend  
/soloist/ @acdc-digital/soloist-team
/soloist/convex/ @acdc-digital/backend-team
/soloist/renderer/ @acdc-digital/frontend-team
/soloist/website/ @acdc-digital/frontend-team
/soloist/electron/ @acdc-digital/desktop-team

# LifeOS project - Full-stack productivity platform
/lifeOS/ @acdc-digital/lifeos-team
/lifeOS/LifeOS/convex/ @acdc-digital/backend-team
/lifeOS/LifeOS/app/ @acdc-digital/frontend-team
/lifeOS/LifeOS/lib/agents/ @acdc-digital/ai-team

# Donut project - Time tracking
/donut/ @acdc-digital/frontend-team

# Aura project
/aura/ @acdc-digital/frontend-team

# Ruuf project  
/ruuf/ @acdc-digital/ruuf-team

# SMNB project
/smnb/ @acdc-digital/smnb-team

# Critical files that require admin approval
/.github/ @acdc-digital/admins
/package.json @acdc-digital/admins
/pnpm-lock.yaml @acdc-digital/admins
/pnpm-workspace.yaml @acdc-digital/admins
/.gitignore @acdc-digital/admins
/README.md @acdc-digital/admins

# Backend/Database files need backend team review
**/convex/ @acdc-digital/backend-team
**/schema.ts @acdc-digital/backend-team
**/convex.config.ts @acdc-digital/backend-team

# Security-sensitive files need security team review
**/.env* @acdc-digital/security-team
**/auth.ts @acdc-digital/security-team
**/middleware.ts @acdc-digital/security-team
**/webhooks.ts @acdc-digital/security-team

# Frontend files
**/app/ @acdc-digital/frontend-team
**/components/ @acdc-digital/frontend-team
**/src/ @acdc-digital/frontend-team
**/*.tsx @acdc-digital/frontend-team
**/*.jsx @acdc-digital/frontend-team
**/tailwind.config.* @acdc-digital/frontend-team
**/next.config.* @acdc-digital/frontend-team

# AI/ML related files
**/agents/ @acdc-digital/ai-team
**/lib/research/ @acdc-digital/ai-team
**/*claude* @acdc-digital/ai-team
**/*openai* @acdc-digital/ai-team

# Documentation
/docs/ @acdc-digital/docs-team
**/*.md @acdc-digital/docs-team

# Build and deployment
**/scripts/ @acdc-digital/devops-team
**/.github/workflows/ @acdc-digital/devops-team
**/Dockerfile @acdc-digital/devops-team
**/docker-compose* @acdc-digital/devops-team
**/vercel.json @acdc-digital/devops-team

# Package management
**/package.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/package-lock.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/pnpm-lock.yaml @acdc-digital/backend-team @acdc-digital/frontend-team
