Repository acdc-digital/acdc-digital, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/backend-team, @acdc-digital/desktop-team, @acdc-digital/lifeos-team, @acdc-digital/ai-team, @acdc-digital/ruuf-team, @acdc-digital/smnb-team, @acdc-digital/admins, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/devops-team

docs: add mono-repo project breakdown table with LOC and size metrics
  README.md
Owners: @acdc-digital/docs-team

docs: add mono-repo project breakdown table with LOC and size metrics
  README.md
Owners: @acdc-digital/docs-team

docs: add mono-repo project breakdown table with LOC and size metrics
  README.md
Owners: @acdc-digital/docs-team

docs: add mono-repo project breakdown table with LOC and size metrics
  README.md
Owners: @acdc-digital/docs-team

Rebrand: Rename Nexus Framework to ACDC Framework
  .agents/README.md
  .agents/acdc-architecture-diagrams.md
  .agents/acdc-best-practices.md
  .agents/acdc-chat-ui-integration-guide.md
  .agents/acdc-implementation-analysis-2025-09-29.md
  .agents/acdc-implementation-checklist.md
  .agents/acdc-implementation-gap-analysis.md
  .agents/acdc-quick-reference.md
  .agents/acdc-unified-architecture.md
  .agents/agentic-framework-implementation-guide.md
  .agents/anthropic-migration-guide.md
  .agents/anthropic-sdk-compliance-audit.md
  .agents/anthropic.config.ts
Owners: @acdc-digital/docs-team, @acdc-digital/core-team

Rebrand: Rename Nexus Framework to ACDC Framework
  .agents/README.md
  .agents/acdc-architecture-diagrams.md
  .agents/acdc-best-practices.md
  .agents/acdc-chat-ui-integration-guide.md
  .agents/acdc-implementation-analysis-2025-09-29.md
  .agents/acdc-implementation-checklist.md
  .agents/acdc-implementation-gap-analysis.md
  .agents/acdc-quick-reference.md
  .agents/acdc-unified-architecture.md
  .agents/agentic-framework-implementation-guide.md
  .agents/anthropic-migration-guide.md
  .agents/anthropic-sdk-compliance-audit.md
  .agents/anthropic.config.ts
Owners: @acdc-digital/docs-team, @acdc-digital/core-team

Complete NASDAQ-100 trading stats migration and optimization
  .trunk/configs/.isort.cfg
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/configs/svgo.config.mjs
  .trunk/trunk.yaml
  docs/ANALYTICS.md
  smnb/smnb/app/dashboard/stats/_components/CombinedContentStatsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/ContentCorrelationWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/MetricScoringWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/PostRankingsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/StoryHistoryStatsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/SubredditMemberStatsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/SubredditStatsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/TopPostsBySubredditWidget.tsx
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/stats/index.ts
  smnb/smnb/convex/stats/subredditStats.ts
  smnb/smnb/convex/stats/tradingEnhanced.ts
Owners: @acdc-digital/core-team, @acdc-digital/docs-team, @acdc-digital/frontend-team, @acdc-digital/backend-team

Complete NASDAQ-100 trading stats migration and optimization
  .trunk/configs/.isort.cfg
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/configs/ruff.toml
  .trunk/configs/svgo.config.mjs
  .trunk/trunk.yaml
  docs/ANALYTICS.md
  smnb/smnb/app/dashboard/stats/_components/CombinedContentStatsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/ContentCorrelationWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/MetricScoringWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/PostRankingsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/StoryHistoryStatsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/SubredditMemberStatsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/SubredditStatsWidget.tsx
  smnb/smnb/app/dashboard/stats/_components/TopPostsBySubredditWidget.tsx
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/stats/index.ts
  smnb/smnb/convex/stats/subredditStats.ts
  smnb/smnb/convex/stats/tradingEnhanced.ts
Owners: @acdc-digital/core-team, @acdc-digital/docs-team, @acdc-digital/frontend-team, @acdc-digital/backend-team

feat: implement concurrent tab pre-loading to eliminate loading screens
  smnb/smnb/app/api/claude/route.ts
  smnb/smnb/app/dashboard/DashboardContext.tsx
  smnb/smnb/app/dashboard/layout.tsx
  smnb/smnb/app/dashboard/studio/controls/Controls.tsx
  smnb/smnb/app/dashboard/studio/controls/_components/ConfigPanel.tsx
  smnb/smnb/app/dashboard/studio/producer/Producer.tsx
  smnb/smnb/components/host/WaterfallNarration.module.css
  smnb/smnb/components/host/WaterfallNarration.tsx
  smnb/smnb/components/livefeed/liveFeed.tsx
  smnb/smnb/components/test/ComputerUseIntegrationTest.tsx
  smnb/smnb/components/ui/Ticker.tsx
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/schema.ts
  smnb/smnb/convex/ticker/iconCache.ts
  smnb/smnb/convex/trading.ts
  smnb/smnb/lib/hooks/useTickerIconCache.ts
  smnb/smnb/lib/services/host/claudeLLMService.ts
  smnb/smnb/lib/services/livefeed/enrichmentAgent.ts
Owners: @acdc-digital/ai-team, @acdc-digital/frontend-team, @acdc-digital/backend-team, @acdc-digital/smnb-team

feat: implement concurrent tab pre-loading to eliminate loading screens
  smnb/smnb/app/api/claude/route.ts
  smnb/smnb/app/dashboard/DashboardContext.tsx
  smnb/smnb/app/dashboard/layout.tsx
  smnb/smnb/app/dashboard/studio/controls/Controls.tsx
  smnb/smnb/app/dashboard/studio/controls/_components/ConfigPanel.tsx
  smnb/smnb/app/dashboard/studio/producer/Producer.tsx
  smnb/smnb/components/host/WaterfallNarration.module.css
  smnb/smnb/components/host/WaterfallNarration.tsx
  smnb/smnb/components/livefeed/liveFeed.tsx
  smnb/smnb/components/test/ComputerUseIntegrationTest.tsx
  smnb/smnb/components/ui/Ticker.tsx
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/schema.ts
  smnb/smnb/convex/ticker/iconCache.ts
  smnb/smnb/convex/trading.ts
  smnb/smnb/lib/hooks/useTickerIconCache.ts
  smnb/smnb/lib/services/host/claudeLLMService.ts
  smnb/smnb/lib/services/livefeed/enrichmentAgent.ts
Owners: @acdc-digital/ai-team, @acdc-digital/frontend-team, @acdc-digital/backend-team, @acdc-digital/smnb-team

feat: implement flash memory module (stage #1)
  smnb/smnb/app/dashboard/activityBar/ActivityBar.tsx
  smnb/smnb/app/dashboard/layout.tsx
  smnb/smnb/app/dashboard/studio/manager/SessionManager.tsx
  smnb/smnb/app/dashboard/studio/manager/_components/ManagerChat.tsx
  smnb/smnb/app/dashboard/studio/manager/_components/ManagerSessionList.tsx
  smnb/smnb/app/dashboard/studio/sessions/Sessions.tsx
  smnb/smnb/app/dashboard/studio/wiki/_charts/SessionWorkflowChart.tsx
  smnb/smnb/app/dashboard/ticker/_components/NewsSummaryCard.tsx
  smnb/smnb/app/dashboard/ticker/_components/SentimentAnalysisCard.tsx
  smnb/smnb/app/dashboard/ticker/_context/TickerContext.tsx
  smnb/smnb/components/livefeed/liveFeed.tsx
  smnb/smnb/convex/nexus/sessionChats.ts
  smnb/smnb/convex/reddit/feed.ts
  smnb/smnb/docs/CONSOLIDATION-SUMMARY.md
  smnb/smnb/docs/MIGRATION.md
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
  smnb/smnb/lib/hooks/useACDCAgent.ts
  smnb/smnb/lib/reddit/reddit.ts
  smnb/smnb/lib/services/host/hostAgentService.ts
  smnb/smnb/lib/services/livefeed/scoringAgent.ts
  smnb/smnb/lib/services/livefeed/tradingEnrichmentAgent.ts
  smnb/smnb/lib/services/sessionManager/ACDCChat.tsx
  smnb/smnb/lib/services/sessionManager/Chat.tsx
  smnb/smnb/lib/services/sessionManager/TESTING-CHECKLIST.md
  smnb/smnb/lib/services/sessionManager/_components/ACDCChatMessage.tsx
  smnb/smnb/lib/services/sessionManager/index.ts
  smnb/smnb/lib/services/sessionManager/sessionChatService.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team, @acdc-digital/docs-team, @acdc-digital/ai-team, @acdc-digital/smnb-team

feat: implement flash memory module (stage #1)
  smnb/smnb/app/dashboard/activityBar/ActivityBar.tsx
  smnb/smnb/app/dashboard/layout.tsx
  smnb/smnb/app/dashboard/studio/manager/SessionManager.tsx
  smnb/smnb/app/dashboard/studio/manager/_components/ManagerChat.tsx
  smnb/smnb/app/dashboard/studio/manager/_components/ManagerSessionList.tsx
  smnb/smnb/app/dashboard/studio/sessions/Sessions.tsx
  smnb/smnb/app/dashboard/studio/wiki/_charts/SessionWorkflowChart.tsx
  smnb/smnb/app/dashboard/ticker/_components/NewsSummaryCard.tsx
  smnb/smnb/app/dashboard/ticker/_components/SentimentAnalysisCard.tsx
  smnb/smnb/app/dashboard/ticker/_context/TickerContext.tsx
  smnb/smnb/components/livefeed/liveFeed.tsx
  smnb/smnb/convex/nexus/sessionChats.ts
  smnb/smnb/convex/reddit/feed.ts
  smnb/smnb/docs/CONSOLIDATION-SUMMARY.md
  smnb/smnb/docs/MIGRATION.md
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
  smnb/smnb/lib/hooks/useACDCAgent.ts
  smnb/smnb/lib/reddit/reddit.ts
  smnb/smnb/lib/services/host/hostAgentService.ts
  smnb/smnb/lib/services/livefeed/scoringAgent.ts
  smnb/smnb/lib/services/livefeed/tradingEnrichmentAgent.ts
  smnb/smnb/lib/services/sessionManager/ACDCChat.tsx
  smnb/smnb/lib/services/sessionManager/Chat.tsx
  smnb/smnb/lib/services/sessionManager/TESTING-CHECKLIST.md
  smnb/smnb/lib/services/sessionManager/_components/ACDCChatMessage.tsx
  smnb/smnb/lib/services/sessionManager/index.ts
  smnb/smnb/lib/services/sessionManager/sessionChatService.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team, @acdc-digital/docs-team, @acdc-digital/ai-team, @acdc-digital/smnb-team

feat: implement vector embeddings and document upload pipeline
  pnpm-lock.yaml
  smnb/.gitignore
  smnb/smnb/.gitignore
  smnb/smnb/app/dashboard/studio/sessions/Sessions.tsx
  smnb/smnb/app/dashboard/studio/wiki/_charts/SessionWorkflowChart.tsx
  smnb/smnb/components/session/DocumentUploadModal.tsx
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/files.ts
  smnb/smnb/convex/nexus/actions/generateEmbeddings.ts
  smnb/smnb/convex/nexus/actions/processDocument.ts
  smnb/smnb/convex/nexus/actions/retrieveContext.ts
  smnb/smnb/convex/nexus/documents.ts
  smnb/smnb/convex/nexus/embeddings.ts
  smnb/smnb/convex/schema.ts
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
  smnb/smnb/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/smnb-team, @acdc-digital/ai-team

feat: implement vector embeddings and document upload pipeline
  pnpm-lock.yaml
  smnb/.gitignore
  smnb/smnb/.gitignore
  smnb/smnb/app/dashboard/studio/sessions/Sessions.tsx
  smnb/smnb/app/dashboard/studio/wiki/_charts/SessionWorkflowChart.tsx
  smnb/smnb/components/session/DocumentUploadModal.tsx
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/files.ts
  smnb/smnb/convex/nexus/actions/generateEmbeddings.ts
  smnb/smnb/convex/nexus/actions/processDocument.ts
  smnb/smnb/convex/nexus/actions/retrieveContext.ts
  smnb/smnb/convex/nexus/documents.ts
  smnb/smnb/convex/nexus/embeddings.ts
  smnb/smnb/convex/schema.ts
  smnb/smnb/lib/agents/nexus/SessionManagerAgent.ts
  smnb/smnb/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/smnb-team, @acdc-digital/ai-team

feat: implement global session context to fix session state management
  smnb/.docs/convex/Engine.md
  smnb/smnb/app/dashboard/DashboardContext.tsx
  smnb/smnb/app/dashboard/SessionContext.tsx
  smnb/smnb/app/dashboard/activityBar/ActivityBar.tsx
  smnb/smnb/app/dashboard/layout.tsx
  smnb/smnb/app/dashboard/studio/engine/Engine.tsx
  smnb/smnb/app/dashboard/studio/heatmap/Heatmap.tsx
  smnb/smnb/app/dashboard/studio/landmark/Landmark.tsx
  smnb/smnb/app/dashboard/studio/manager/SessionManager.tsx
  smnb/smnb/app/dashboard/studio/sessions/Sessions.tsx
  smnb/smnb/app/dashboard/ticker/WelcomeTab.tsx
  smnb/smnb/app/dashboard/ticker/_components/NewsSummaryCard.tsx
  smnb/smnb/app/dashboard/ticker/_components/SentimentScore.tsx
  smnb/smnb/app/page.tsx
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/crons.ts
  smnb/smnb/convex/engine/DASHBOARD.md
  smnb/smnb/convex/engine/INTEGRATION.md
  smnb/smnb/convex/engine/applyEvents.ts
  smnb/smnb/convex/engine/control.ts
  smnb/smnb/convex/engine/emitEvent.ts
  smnb/smnb/convex/engine/mutations.ts
  smnb/smnb/convex/engine/queries.ts
  smnb/smnb/convex/engine/setup.ts
  smnb/smnb/convex/engine/utils.ts
  smnb/smnb/convex/host/storyHistory.ts
  smnb/smnb/convex/reddit/feed.ts
  smnb/smnb/convex/schema.ts
  smnb/smnb/convex/stats/sentimentActions.ts
  smnb/smnb/convex/stats/sentimentQueries.ts
  smnb/smnb/lib/context/CacheContext.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team, @acdc-digital/backend-team

feat: implement global session context to fix session state management
  smnb/.docs/convex/Engine.md
  smnb/smnb/app/dashboard/DashboardContext.tsx
  smnb/smnb/app/dashboard/SessionContext.tsx
  smnb/smnb/app/dashboard/activityBar/ActivityBar.tsx
  smnb/smnb/app/dashboard/layout.tsx
  smnb/smnb/app/dashboard/studio/engine/Engine.tsx
  smnb/smnb/app/dashboard/studio/heatmap/Heatmap.tsx
  smnb/smnb/app/dashboard/studio/landmark/Landmark.tsx
  smnb/smnb/app/dashboard/studio/manager/SessionManager.tsx
  smnb/smnb/app/dashboard/studio/sessions/Sessions.tsx
  smnb/smnb/app/dashboard/ticker/WelcomeTab.tsx
  smnb/smnb/app/dashboard/ticker/_components/NewsSummaryCard.tsx
  smnb/smnb/app/dashboard/ticker/_components/SentimentScore.tsx
  smnb/smnb/app/page.tsx
  smnb/smnb/convex/_generated/api.d.ts
  smnb/smnb/convex/crons.ts
  smnb/smnb/convex/engine/DASHBOARD.md
  smnb/smnb/convex/engine/INTEGRATION.md
  smnb/smnb/convex/engine/applyEvents.ts
  smnb/smnb/convex/engine/control.ts
  smnb/smnb/convex/engine/emitEvent.ts
  smnb/smnb/convex/engine/mutations.ts
  smnb/smnb/convex/engine/queries.ts
  smnb/smnb/convex/engine/setup.ts
  smnb/smnb/convex/engine/utils.ts
  smnb/smnb/convex/host/storyHistory.ts
  smnb/smnb/convex/reddit/feed.ts
  smnb/smnb/convex/schema.ts
  smnb/smnb/convex/stats/sentimentActions.ts
  smnb/smnb/convex/stats/sentimentQueries.ts
  smnb/smnb/lib/context/CacheContext.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team, @acdc-digital/backend-team

Enhance Steps section: add MoodForecastCard with 7-day forecast, RecommendationCard, descriptive text, and layout improvements
  soloist/demo/app/dashboard/_components/CommentSection.tsx
  soloist/demo/app/dashboard/_components/Controls.tsx
  soloist/demo/app/dashboard/_components/Feed.tsx
  soloist/demo/app/dashboard/_components/FeedFooter.tsx
  soloist/demo/app/dashboard/_components/Heatmap.tsx
  soloist/demo/app/dashboard/_components/TemplateSelector.tsx
  soloist/demo/app/dashboard/_components/dailyLogForm.tsx
  soloist/demo/app/dashboard/page.tsx
  soloist/demo/app/test-data/page.tsx
  soloist/demo/components/BrowserFooter.tsx
  soloist/demo/components/BrowserNavbar.tsx
  soloist/demo/data/demoData2025.ts
  soloist/demo/data/demoTemplates.ts
  soloist/demo/hooks/useAuth.ts
  soloist/demo/hooks/useTemplates.ts
  soloist/demo/hooks/useTemplates.tsx
  soloist/demo/lib/demoStreaming.ts
  soloist/demo/services/README.md
  soloist/demo/services/generateLog.ts
  soloist/demo/store/feedStore.ts
  soloist/demo/stores/demoLogsStore.ts
  soloist/demo/stores/demoTemplatesStore.ts
  soloist/demo/stores/initDemoStores.ts
  soloist/pnpm-lock.yaml
  soloist/website/app/page.tsx
  soloist/website/components/DailyLogCard.tsx
  soloist/website/components/DemoApp.tsx
  soloist/website/components/FeatureSection.tsx
  soloist/website/components/FeedCard.tsx
  soloist/website/components/MoodForecastCard.tsx
  soloist/website/components/Navbar.tsx
  soloist/website/components/OpenSource.tsx
  soloist/website/components/ParticleAnimation.tsx
  soloist/website/components/RecommendationCard.tsx
  soloist/website/components/Steps.tsx
  soloist/website/package.json
  soloist/website/public/DLog.svg
  soloist/website/public/Logs.svg
  soloist/website/public/Recom.svg
Owners: @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/docs-team, @acdc-digital/backend-team

Enhance Steps section: add MoodForecastCard with 7-day forecast, RecommendationCard, descriptive text, and layout improvements
  soloist/demo/app/dashboard/_components/CommentSection.tsx
  soloist/demo/app/dashboard/_components/Controls.tsx
  soloist/demo/app/dashboard/_components/Feed.tsx
  soloist/demo/app/dashboard/_components/FeedFooter.tsx
  soloist/demo/app/dashboard/_components/Heatmap.tsx
  soloist/demo/app/dashboard/_components/TemplateSelector.tsx
  soloist/demo/app/dashboard/_components/dailyLogForm.tsx
  soloist/demo/app/dashboard/page.tsx
  soloist/demo/app/test-data/page.tsx
  soloist/demo/components/BrowserFooter.tsx
  soloist/demo/components/BrowserNavbar.tsx
  soloist/demo/data/demoData2025.ts
  soloist/demo/data/demoTemplates.ts
  soloist/demo/hooks/useAuth.ts
  soloist/demo/hooks/useTemplates.ts
  soloist/demo/hooks/useTemplates.tsx
  soloist/demo/lib/demoStreaming.ts
  soloist/demo/services/README.md
  soloist/demo/services/generateLog.ts
  soloist/demo/store/feedStore.ts
  soloist/demo/stores/demoLogsStore.ts
  soloist/demo/stores/demoTemplatesStore.ts
  soloist/demo/stores/initDemoStores.ts
  soloist/pnpm-lock.yaml
  soloist/website/app/page.tsx
  soloist/website/components/DailyLogCard.tsx
  soloist/website/components/DemoApp.tsx
  soloist/website/components/FeatureSection.tsx
  soloist/website/components/FeedCard.tsx
  soloist/website/components/MoodForecastCard.tsx
  soloist/website/components/Navbar.tsx
  soloist/website/components/OpenSource.tsx
  soloist/website/components/ParticleAnimation.tsx
  soloist/website/components/RecommendationCard.tsx
  soloist/website/components/Steps.tsx
  soloist/website/package.json
  soloist/website/public/DLog.svg
  soloist/website/public/Logs.svg
  soloist/website/public/Recom.svg
Owners: @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/docs-team, @acdc-digital/backend-team

Redesign pricing component with modern shadcn/ui styling, fix card layouts and progress bar colors
  soloist/website/app/page.tsx
  soloist/website/components/DailyLogCard.tsx
  soloist/website/components/Pricing.tsx
  soloist/website/components/Steps.tsx
Owners: @acdc-digital/frontend-team

Redesign pricing component with modern shadcn/ui styling, fix card layouts and progress bar colors
  soloist/website/app/page.tsx
  soloist/website/components/DailyLogCard.tsx
  soloist/website/components/Pricing.tsx
  soloist/website/components/Steps.tsx
Owners: @acdc-digital/frontend-team

Update Reflections component with interactive UI elements and styling improvements
  .trunk/trunk.yaml
  soloist/demo/components/BrowserNavbar.tsx
  soloist/website/app/page.tsx
  soloist/website/components/AppPreview.tsx
  soloist/website/components/DailyLogCard.tsx
  soloist/website/components/FeatureSection.tsx
  soloist/website/components/Features.tsx
  soloist/website/components/FeaturesEnhanced.tsx
  soloist/website/components/FeedCard.tsx
  soloist/website/components/MoodForecastCard.tsx
  soloist/website/components/Navbar.tsx
  soloist/website/components/Pricing.tsx
  soloist/website/components/RecommendationCard.tsx
  soloist/website/components/Reflections.tsx
  soloist/website/components/Steps.tsx
  soloist/website/next.config.js
  soloist/website/next.config.ts
Owners: @acdc-digital/core-team, @acdc-digital/frontend-team

Update Reflections component with interactive UI elements and styling improvements
  .trunk/trunk.yaml
  soloist/demo/components/BrowserNavbar.tsx
  soloist/website/app/page.tsx
  soloist/website/components/AppPreview.tsx
  soloist/website/components/DailyLogCard.tsx
  soloist/website/components/FeatureSection.tsx
  soloist/website/components/Features.tsx
  soloist/website/components/FeaturesEnhanced.tsx
  soloist/website/components/FeedCard.tsx
  soloist/website/components/MoodForecastCard.tsx
  soloist/website/components/Navbar.tsx
  soloist/website/components/Pricing.tsx
  soloist/website/components/RecommendationCard.tsx
  soloist/website/components/Reflections.tsx
  soloist/website/components/Steps.tsx
  soloist/website/next.config.js
  soloist/website/next.config.ts
Owners: @acdc-digital/core-team, @acdc-digital/frontend-team

feat: implement deterministic baseline system with waypoints
  aura/AURA/package.json
  soloist/convex.json
  soloist/convex/_generated/api.d.ts
  soloist/convex/baseline.ts
  soloist/convex/baselineAnalysis.ts
  soloist/convex/schema.ts
  soloist/docs/BASELINE_SYSTEM.md
  soloist/pnpm-lock.yaml
  soloist/public/Frame 57 (1).jpg
  soloist/public/Reflections1.svg
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/waypoints/page.tsx
  soloist/renderer/components/BrowserNavbar.tsx
  soloist/renderer/components/ui/radio-group.tsx
  soloist/renderer/package.json
  soloist/renderer/store/sidebarStore.ts
  soloist/website/app/globals.css
  soloist/website/app/page.tsx
  soloist/website/app/wiki/_components/FunctionTable.tsx
  soloist/website/app/wiki/_components/SearchBar.tsx
  soloist/website/app/wiki/_components/TableOfContents.tsx
  soloist/website/app/wiki/_components/index.ts
  soloist/website/app/wiki/layout.tsx
  soloist/website/app/wiki/page.tsx
  soloist/website/app/wiki/user-guide/page.tsx
  soloist/website/components/FAQ.tsx
  soloist/website/components/Pricing.tsx
  soloist/website/components/Reflections.tsx
  soloist/website/components/Roadmap.tsx
  soloist/website/public/Reflections1.svg
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/docs-team

feat: implement deterministic baseline system with waypoints
  aura/AURA/package.json
  soloist/convex.json
  soloist/convex/_generated/api.d.ts
  soloist/convex/baseline.ts
  soloist/convex/baselineAnalysis.ts
  soloist/convex/schema.ts
  soloist/docs/BASELINE_SYSTEM.md
  soloist/pnpm-lock.yaml
  soloist/public/Frame 57 (1).jpg
  soloist/public/Reflections1.svg
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/waypoints/page.tsx
  soloist/renderer/components/BrowserNavbar.tsx
  soloist/renderer/components/ui/radio-group.tsx
  soloist/renderer/package.json
  soloist/renderer/store/sidebarStore.ts
  soloist/website/app/globals.css
  soloist/website/app/page.tsx
  soloist/website/app/wiki/_components/FunctionTable.tsx
  soloist/website/app/wiki/_components/SearchBar.tsx
  soloist/website/app/wiki/_components/TableOfContents.tsx
  soloist/website/app/wiki/_components/index.ts
  soloist/website/app/wiki/layout.tsx
  soloist/website/app/wiki/page.tsx
  soloist/website/app/wiki/user-guide/page.tsx
  soloist/website/components/FAQ.tsx
  soloist/website/components/Pricing.tsx
  soloist/website/components/Reflections.tsx
  soloist/website/components/Roadmap.tsx
  soloist/website/public/Reflections1.svg
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/docs-team

Fix layout: ensure UI content displays properly below draggable header
  soloist/convex/auth.ts
  soloist/convex/baseline.ts
  soloist/convex/baselineChat.ts
  soloist/convex/baselineChatActions.ts
  soloist/convex/schema.ts
  soloist/convex/userSubscriptions.ts
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/layout.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineChatPanel.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/waypoints/page.tsx
  soloist/renderer/app/globals.css
  soloist/renderer/app/page.tsx
  soloist/renderer/components/BrowserFooter.tsx
  soloist/renderer/components/BrowserNavbar.tsx
  soloist/website/app/wiki/authentication/page.tsx
  soloist/website/app/wiki/layout.tsx
Owners: @acdc-digital/security-team, @acdc-digital/backend-team, @acdc-digital/frontend-team

Fix layout: ensure UI content displays properly below draggable header
  soloist/convex/auth.ts
  soloist/convex/baseline.ts
  soloist/convex/baselineChat.ts
  soloist/convex/baselineChatActions.ts
  soloist/convex/schema.ts
  soloist/convex/userSubscriptions.ts
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/layout.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineChatPanel.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/waypoints/page.tsx
  soloist/renderer/app/globals.css
  soloist/renderer/app/page.tsx
  soloist/renderer/components/BrowserFooter.tsx
  soloist/renderer/components/BrowserNavbar.tsx
  soloist/website/app/wiki/authentication/page.tsx
  soloist/website/app/wiki/layout.tsx
Owners: @acdc-digital/security-team, @acdc-digital/backend-team, @acdc-digital/frontend-team

chore: include Convex generated files for Vercel deployment
  soloist/website/.gitignore
  soloist/website/convex/_generated/api.d.ts
  soloist/website/convex/_generated/api.js
  soloist/website/convex/_generated/dataModel.d.ts
  soloist/website/convex/_generated/server.d.ts
  soloist/website/convex/_generated/server.js
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

chore: include Convex generated files for Vercel deployment
  soloist/website/.gitignore
  soloist/website/convex/_generated/api.d.ts
  soloist/website/convex/_generated/api.js
  soloist/website/convex/_generated/dataModel.d.ts
  soloist/website/convex/_generated/server.d.ts
  soloist/website/convex/_generated/server.js
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

fix: force add Convex generated files
  soloist/website/.gitignore
Owners: @acdc-digital/frontend-team

fix: force add Convex generated files
  soloist/website/.gitignore
Owners: @acdc-digital/frontend-team

fix: update tsconfig path for Convex in website directory
  soloist/website/tsconfig.json
Owners: @acdc-digital/frontend-team

fix: update tsconfig path for Convex in website directory
  soloist/website/tsconfig.json
Owners: @acdc-digital/frontend-team

feat: add zustand dependency
  soloist/website/package-lock.json
  soloist/website/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

feat: add zustand dependency
  soloist/website/package-lock.json
  soloist/website/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

fix: correct OpenAI component import path
  soloist/website/components/admin/Admin.tsx
Owners: @acdc-digital/frontend-team

fix: correct OpenAI component import path
  soloist/website/components/admin/Admin.tsx
Owners: @acdc-digital/frontend-team

fix: comment out missing Features component
  soloist/website/components/landing/DesignComparison.tsx
Owners: @acdc-digital/frontend-team

fix: comment out missing Features component
  soloist/website/components/landing/DesignComparison.tsx
Owners: @acdc-digital/frontend-team

fix: comment out all missing feature components
  soloist/website/components/landing/DesignComparison.tsx
Owners: @acdc-digital/frontend-team

fix: comment out all missing feature components
  soloist/website/components/landing/DesignComparison.tsx
Owners: @acdc-digital/frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for ACDC Digital
# This file defines who owns which parts of the codebase and who should review changes

# Global owners - these users/teams will be requested for review on ALL changes
# Replace with your actual GitHub usernames/team names
* @acdc-digital/core-team

# Project-specific ownership
# Each project has its own maintainers

# Main ACDC Digital project
/acdc-digital/ @acdc-digital/frontend-team

# Soloist project - Electron app with Convex backend  
/soloist/ @acdc-digital/soloist-team
/soloist/convex/ @acdc-digital/backend-team
/soloist/renderer/ @acdc-digital/frontend-team
/soloist/website/ @acdc-digital/frontend-team
/soloist/electron/ @acdc-digital/desktop-team

# LifeOS project - Full-stack productivity platform
/lifeOS/ @acdc-digital/lifeos-team
/lifeOS/LifeOS/convex/ @acdc-digital/backend-team
/lifeOS/LifeOS/app/ @acdc-digital/frontend-team
/lifeOS/LifeOS/lib/agents/ @acdc-digital/ai-team

# Donut project - Time tracking
/donut/ @acdc-digital/frontend-team

# Aura project
/aura/ @acdc-digital/frontend-team

# Ruuf project  
/ruuf/ @acdc-digital/ruuf-team

# SMNB project
/smnb/ @acdc-digital/smnb-team

# Critical files that require admin approval
/.github/ @acdc-digital/admins
/package.json @acdc-digital/admins
/pnpm-lock.yaml @acdc-digital/admins
/pnpm-workspace.yaml @acdc-digital/admins
/.gitignore @acdc-digital/admins
/README.md @acdc-digital/admins

# Backend/Database files need backend team review
**/convex/ @acdc-digital/backend-team
**/schema.ts @acdc-digital/backend-team
**/convex.config.ts @acdc-digital/backend-team

# Security-sensitive files need security team review
**/.env* @acdc-digital/security-team
**/auth.ts @acdc-digital/security-team
**/middleware.ts @acdc-digital/security-team
**/webhooks.ts @acdc-digital/security-team

# Frontend files
**/app/ @acdc-digital/frontend-team
**/components/ @acdc-digital/frontend-team
**/src/ @acdc-digital/frontend-team
**/*.tsx @acdc-digital/frontend-team
**/*.jsx @acdc-digital/frontend-team
**/tailwind.config.* @acdc-digital/frontend-team
**/next.config.* @acdc-digital/frontend-team

# AI/ML related files
**/agents/ @acdc-digital/ai-team
**/lib/research/ @acdc-digital/ai-team
**/*claude* @acdc-digital/ai-team
**/*openai* @acdc-digital/ai-team

# Documentation
/docs/ @acdc-digital/docs-team
**/*.md @acdc-digital/docs-team

# Build and deployment
**/scripts/ @acdc-digital/devops-team
**/.github/workflows/ @acdc-digital/devops-team
**/Dockerfile @acdc-digital/devops-team
**/docker-compose* @acdc-digital/devops-team
**/vercel.json @acdc-digital/devops-team

# Package management
**/package.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/package-lock.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/pnpm-lock.yaml @acdc-digital/backend-team @acdc-digital/frontend-team
