Repository acdc-digital/acdc-digital, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/backend-team, @acdc-digital/desktop-team, @acdc-digital/lifeos-team, @acdc-digital/ai-team, @acdc-digital/ruuf-team, @acdc-digital/smnb-team, @acdc-digital/admins, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/devops-team

Fix Sandbox layout - cleaner stacked design
  soloist/renderer/app/dashboard/testing/_components/Navigation.tsx
  soloist/renderer/app/dashboard/testing/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/testing/page.tsx
Owners: @acdc-digital/frontend-team

Fix Sandbox layout - cleaner stacked design
  soloist/renderer/app/dashboard/testing/_components/Navigation.tsx
  soloist/renderer/app/dashboard/testing/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/testing/page.tsx
Owners: @acdc-digital/frontend-team

Full-width dashboard layout - remove all max-width constraints
  soloist/renderer/app/dashboard/testing/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/testing/page.tsx
Owners: @acdc-digital/frontend-team

Full-width dashboard layout - remove all max-width constraints
  soloist/renderer/app/dashboard/testing/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/testing/page.tsx
Owners: @acdc-digital/frontend-team

Organize docs into topic-based directories
  .trunk/trunk.yaml
  soloist/.docs/BUILD.md
  soloist/.docs/CHANGELOG.md
  soloist/.docs/MAC_DOCK_ICON_FIX.md
  soloist/.docs/NOTARIZATION_SETUP.md
  soloist/.docs/RELEASE.MD
  soloist/.docs/VERSION_HISTORY.md
  soloist/.docs/architecture/BASELINE_SYSTEM.md
  soloist/.docs/architecture/PROMPT_SUMMARY.md
  soloist/.docs/architecture/SOLOIST.MD
  soloist/.docs/architecture/mermaid/LLM-Prompts.md
  soloist/.docs/architecture/mermaid/flowchart TD.mmd
  soloist/.docs/deployment/DEPLOYMENT.md
  soloist/.docs/deployment/ENVIRONMENT_SETUP.md
  soloist/.docs/design/BRAND_UPGRADE_V2.md
  soloist/.docs/design/EXECUTIVE_SUMMARY.md
  soloist/.docs/design/IMPLEMENTATION_GUIDE.md
  soloist/.docs/design/RESPONSIVE_DESIGN_SPEC.md
Owners: @acdc-digital/core-team, @acdc-digital/docs-team, @acdc-digital/soloist-team

Organize docs into topic-based directories
  .trunk/trunk.yaml
  soloist/.docs/BUILD.md
  soloist/.docs/CHANGELOG.md
  soloist/.docs/MAC_DOCK_ICON_FIX.md
  soloist/.docs/NOTARIZATION_SETUP.md
  soloist/.docs/RELEASE.MD
  soloist/.docs/VERSION_HISTORY.md
  soloist/.docs/architecture/BASELINE_SYSTEM.md
  soloist/.docs/architecture/PROMPT_SUMMARY.md
  soloist/.docs/architecture/SOLOIST.MD
  soloist/.docs/architecture/mermaid/LLM-Prompts.md
  soloist/.docs/architecture/mermaid/flowchart TD.mmd
  soloist/.docs/deployment/DEPLOYMENT.md
  soloist/.docs/deployment/ENVIRONMENT_SETUP.md
  soloist/.docs/design/BRAND_UPGRADE_V2.md
  soloist/.docs/design/EXECUTIVE_SUMMARY.md
  soloist/.docs/design/IMPLEMENTATION_GUIDE.md
  soloist/.docs/design/RESPONSIVE_DESIGN_SPEC.md
Owners: @acdc-digital/core-team, @acdc-digital/docs-team, @acdc-digital/soloist-team

security: add OWASP ZAP security headers and fixes
  soloist/.docs/api/admin.md
  soloist/.docs/api/ai-usage.md
  soloist/.docs/api/baseline.md
  soloist/.docs/api/debug.md
  soloist/.docs/api/heatmap.md
  soloist/.docs/api/internal.md
  soloist/.docs/api/sandbox.md
  soloist/.docs/api/user-attributes.md
  soloist/.docs/api/webhooks.md
  soloist/.docs/api/website.md
  soloist/.docs/api/weekly.md
  soloist/.docs/security/owasp-1.md
  soloist/convex/_generated/api.d.ts
  soloist/convex/admin.ts
  soloist/convex/baselineAnalysis.ts
  soloist/convex/checkRateLimits.ts
  soloist/convex/clearDatabase.ts
  soloist/convex/debugSubscription.ts
  soloist/convex/debugUsers.ts
  soloist/convex/deleteRateLimits.ts
  soloist/convex/manualSubscription.ts
  soloist/website/next.config.ts
Owners: @acdc-digital/docs-team, @acdc-digital/backend-team, @acdc-digital/frontend-team

security: add OWASP ZAP security headers and fixes
  soloist/.docs/api/admin.md
  soloist/.docs/api/ai-usage.md
  soloist/.docs/api/baseline.md
  soloist/.docs/api/debug.md
  soloist/.docs/api/heatmap.md
  soloist/.docs/api/internal.md
  soloist/.docs/api/sandbox.md
  soloist/.docs/api/user-attributes.md
  soloist/.docs/api/webhooks.md
  soloist/.docs/api/website.md
  soloist/.docs/api/weekly.md
  soloist/.docs/security/owasp-1.md
  soloist/convex/_generated/api.d.ts
  soloist/convex/admin.ts
  soloist/convex/baselineAnalysis.ts
  soloist/convex/checkRateLimits.ts
  soloist/convex/clearDatabase.ts
  soloist/convex/debugSubscription.ts
  soloist/convex/debugUsers.ts
  soloist/convex/deleteRateLimits.ts
  soloist/convex/manualSubscription.ts
  soloist/website/next.config.ts
Owners: @acdc-digital/docs-team, @acdc-digital/backend-team, @acdc-digital/frontend-team

security: add demo iframe to CSP frame-src whitelist
  soloist/website/next.config.ts
Owners: @acdc-digital/frontend-team

security: add demo iframe to CSP frame-src whitelist
  soloist/website/next.config.ts
Owners: @acdc-digital/frontend-team

feat: add load testing docs, configure demo for production, add loader.io verification
  soloist/.docs/security/load-testing.md
  soloist/demo/next.config.ts
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/public/loaderio-7ba923f1932828396d2d22156123c584.txt
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team

feat: add load testing docs, configure demo for production, add loader.io verification
  soloist/.docs/security/load-testing.md
  soloist/demo/next.config.ts
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/public/loaderio-7ba923f1932828396d2d22156123c584.txt
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team

Darken bento grid footer text and increase row spacing
  soloist/website/components/landing/Steps_v2.tsx
Owners: @acdc-digital/frontend-team

Darken bento grid footer text and increase row spacing
  soloist/website/components/landing/Steps_v2.tsx
Owners: @acdc-digital/frontend-team

feat: add Soloist Insights Dashboard and Canvas view
  aura/AURA/package.json
  node_modules/.bin/eslint
  node_modules/.bin/prettier
  node_modules/.bin/tsc
  node_modules/.bin/tsserver
  soloist/.docs/user-guide/sandbox.md
  soloist/.docs/user-guide/weekly.md
  soloist/pnpm-lock.yaml
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/canvsas/_components/TldrawWrapper.tsx
  soloist/renderer/app/dashboard/canvsas/layout.tsx
  soloist/renderer/app/dashboard/canvsas/page.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/soloist/_components/DailyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/DateRangeSelector.tsx
  soloist/renderer/app/dashboard/soloist/_components/ForecastChart.tsx
  soloist/renderer/app/dashboard/soloist/_components/ForecastMetrics.tsx
  soloist/renderer/app/dashboard/soloist/_components/Header.tsx
  soloist/renderer/app/dashboard/soloist/_components/KeyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/PageSidebar.tsx
  soloist/renderer/app/dashboard/soloist/_components/StatsPanel.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeekGrid.tsx
  soloist/renderer/app/dashboard/soloist/layout.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
  soloist/renderer/app/dashboard/weekly/_components/KeyInsights.tsx
  soloist/renderer/app/dashboard/weekly/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/weekly/page.tsx
  soloist/renderer/components/ViewContainer.tsx
  soloist/renderer/store/soloistStore.ts
  soloist/renderer/store/viewOrchestrator.ts
  soloist/website/components/landing/Steps.tsx
  soloist/website/components/landing/Steps_v2.tsx
  soloist/website/components/layout/Navbar.tsx
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/core-team, @acdc-digital/docs-team

feat: add Soloist Insights Dashboard and Canvas view
  aura/AURA/package.json
  node_modules/.bin/eslint
  node_modules/.bin/prettier
  node_modules/.bin/tsc
  node_modules/.bin/tsserver
  soloist/.docs/user-guide/sandbox.md
  soloist/.docs/user-guide/weekly.md
  soloist/pnpm-lock.yaml
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/canvsas/_components/TldrawWrapper.tsx
  soloist/renderer/app/dashboard/canvsas/layout.tsx
  soloist/renderer/app/dashboard/canvsas/page.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/soloist/_components/DailyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/DateRangeSelector.tsx
  soloist/renderer/app/dashboard/soloist/_components/ForecastChart.tsx
  soloist/renderer/app/dashboard/soloist/_components/ForecastMetrics.tsx
  soloist/renderer/app/dashboard/soloist/_components/Header.tsx
  soloist/renderer/app/dashboard/soloist/_components/KeyInsights.tsx
  soloist/renderer/app/dashboard/soloist/_components/PageSidebar.tsx
  soloist/renderer/app/dashboard/soloist/_components/StatsPanel.tsx
  soloist/renderer/app/dashboard/soloist/_components/WeekGrid.tsx
  soloist/renderer/app/dashboard/soloist/layout.tsx
  soloist/renderer/app/dashboard/soloist/page.tsx
  soloist/renderer/app/dashboard/weekly/_components/KeyInsights.tsx
  soloist/renderer/app/dashboard/weekly/_components/WeeklyPatterns.tsx
  soloist/renderer/app/dashboard/weekly/page.tsx
  soloist/renderer/components/ViewContainer.tsx
  soloist/renderer/store/soloistStore.ts
  soloist/renderer/store/viewOrchestrator.ts
  soloist/website/components/landing/Steps.tsx
  soloist/website/components/landing/Steps_v2.tsx
  soloist/website/components/layout/Navbar.tsx
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/core-team, @acdc-digital/docs-team

docs: add GitHub Readme Stats card with rank grade
  README.md
Owners: @acdc-digital/docs-team

docs: add GitHub Readme Stats card with rank grade
  README.md
Owners: @acdc-digital/docs-team

fix: switch to GitHub Profile Summary Cards (readme-stats is down)
  README.md
Owners: @acdc-digital/docs-team

fix: switch to GitHub Profile Summary Cards (readme-stats is down)
  README.md
Owners: @acdc-digital/docs-team

feat: use self-hosted GitHub Readme Stats with grade ranking
  README.md
Owners: @acdc-digital/docs-team

feat: use self-hosted GitHub Readme Stats with grade ranking
  README.md
Owners: @acdc-digital/docs-team

feat: add GitHub Profile Summary card with contribution graph
  README.md
Owners: @acdc-digital/docs-team

feat: add GitHub Profile Summary card with contribution graph
  README.md
Owners: @acdc-digital/docs-team

feat: switch to clean activity graph (graph only)
  README.md
Owners: @acdc-digital/docs-team

feat: switch to clean activity graph (graph only)
  README.md
Owners: @acdc-digital/docs-team

style: match activity graph colors to grade card theme
  README.md
Owners: @acdc-digital/docs-team

style: match activity graph colors to grade card theme
  README.md
Owners: @acdc-digital/docs-team

feat: replace badges with Top Languages card (matching theme)
  README.md
Owners: @acdc-digital/docs-team

feat: replace badges with Top Languages card (matching theme)
  README.md
Owners: @acdc-digital/docs-team

feat: replace badges with Top Languages card (matching theme)
  README.md
Owners: @acdc-digital/docs-team

feat: replace badges with Top Languages card (matching theme)
  README.md
Owners: @acdc-digital/docs-team

chore: comment out Top Languages card for now
  README.md
Owners: @acdc-digital/docs-team

chore: comment out Top Languages card for now
  README.md
Owners: @acdc-digital/docs-team

Add rounded borders to DateRangeSelector component
  aura/AURA/package.json
  soloist/convex.json
  soloist/convex/_generated/api.d.ts
  soloist/convex/_generated/server.d.ts
  soloist/convex/_generated/server.js
  soloist/demo/next.config.ts
  soloist/pnpm-lock.yaml
  soloist/renderer/app/dashboard/_components/RightSidebar.tsx
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/canvsas/_components/CanvasControls.tsx
  soloist/renderer/app/dashboard/canvsas/_components/CanvasHeader.tsx
  soloist/renderer/app/dashboard/canvsas/_components/TldrawWrapper.tsx
  soloist/renderer/app/dashboard/canvsas/layout.tsx
  soloist/renderer/app/dashboard/canvsas/page.tsx
  soloist/renderer/app/dashboard/soloist/_components/DateRangeSelector.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineChatPanel.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/waypoints/page.tsx
  soloist/renderer/app/globals.css
  soloist/renderer/next.config.ts
  soloist/renderer/package.json
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/next.config.ts
  soloist/website/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team

Add rounded borders to DateRangeSelector component
  aura/AURA/package.json
  soloist/convex.json
  soloist/convex/_generated/api.d.ts
  soloist/convex/_generated/server.d.ts
  soloist/convex/_generated/server.js
  soloist/demo/next.config.ts
  soloist/pnpm-lock.yaml
  soloist/renderer/app/dashboard/_components/RightSidebar.tsx
  soloist/renderer/app/dashboard/_components/sidebar.tsx
  soloist/renderer/app/dashboard/canvsas/_components/CanvasControls.tsx
  soloist/renderer/app/dashboard/canvsas/_components/CanvasHeader.tsx
  soloist/renderer/app/dashboard/canvsas/_components/TldrawWrapper.tsx
  soloist/renderer/app/dashboard/canvsas/layout.tsx
  soloist/renderer/app/dashboard/canvsas/page.tsx
  soloist/renderer/app/dashboard/soloist/_components/DateRangeSelector.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineChatPanel.tsx
  soloist/renderer/app/dashboard/waypoints/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/waypoints/page.tsx
  soloist/renderer/app/globals.css
  soloist/renderer/next.config.ts
  soloist/renderer/package.json
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/next.config.ts
  soloist/website/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team

fix: move workflow to repo root for GitHub Actions
  .github/workflows/soloist-release.yml
Owners: @acdc-digital/devops-team

fix: move workflow to repo root for GitHub Actions
  .github/workflows/soloist-release.yml
Owners: @acdc-digital/devops-team

fix: remove FeedbackModal import from BrowserFooter, use help page instead
  soloist/renderer/app/dashboard/_components/BrowserFooter.tsx
Owners: @acdc-digital/frontend-team

fix: remove FeedbackModal import from BrowserFooter, use help page instead
  soloist/renderer/app/dashboard/_components/BrowserFooter.tsx
Owners: @acdc-digital/frontend-team

.github/CODEOWNERS:

# CODEOWNERS file for ACDC Digital
# This file defines who owns which parts of the codebase and who should review changes

# Global owners - these users/teams will be requested for review on ALL changes
# Replace with your actual GitHub usernames/team names
* @acdc-digital/core-team

# Project-specific ownership
# Each project has its own maintainers

# Main ACDC Digital project
/acdc-digital/ @acdc-digital/frontend-team

# Soloist project - Electron app with Convex backend  
/soloist/ @acdc-digital/soloist-team
/soloist/convex/ @acdc-digital/backend-team
/soloist/renderer/ @acdc-digital/frontend-team
/soloist/website/ @acdc-digital/frontend-team
/soloist/electron/ @acdc-digital/desktop-team

# LifeOS project - Full-stack productivity platform
/lifeOS/ @acdc-digital/lifeos-team
/lifeOS/LifeOS/convex/ @acdc-digital/backend-team
/lifeOS/LifeOS/app/ @acdc-digital/frontend-team
/lifeOS/LifeOS/lib/agents/ @acdc-digital/ai-team

# Donut project - Time tracking
/donut/ @acdc-digital/frontend-team

# Aura project
/aura/ @acdc-digital/frontend-team

# Ruuf project  
/ruuf/ @acdc-digital/ruuf-team

# SMNB project
/smnb/ @acdc-digital/smnb-team

# Critical files that require admin approval
/.github/ @acdc-digital/admins
/package.json @acdc-digital/admins
/pnpm-lock.yaml @acdc-digital/admins
/pnpm-workspace.yaml @acdc-digital/admins
/.gitignore @acdc-digital/admins
/README.md @acdc-digital/admins

# Backend/Database files need backend team review
**/convex/ @acdc-digital/backend-team
**/schema.ts @acdc-digital/backend-team
**/convex.config.ts @acdc-digital/backend-team

# Security-sensitive files need security team review
**/.env* @acdc-digital/security-team
**/auth.ts @acdc-digital/security-team
**/middleware.ts @acdc-digital/security-team
**/webhooks.ts @acdc-digital/security-team

# Frontend files
**/app/ @acdc-digital/frontend-team
**/components/ @acdc-digital/frontend-team
**/src/ @acdc-digital/frontend-team
**/*.tsx @acdc-digital/frontend-team
**/*.jsx @acdc-digital/frontend-team
**/tailwind.config.* @acdc-digital/frontend-team
**/next.config.* @acdc-digital/frontend-team

# AI/ML related files
**/agents/ @acdc-digital/ai-team
**/lib/research/ @acdc-digital/ai-team
**/*claude* @acdc-digital/ai-team
**/*openai* @acdc-digital/ai-team

# Documentation
/docs/ @acdc-digital/docs-team
**/*.md @acdc-digital/docs-team

# Build and deployment
**/scripts/ @acdc-digital/devops-team
**/.github/workflows/ @acdc-digital/devops-team
**/Dockerfile @acdc-digital/devops-team
**/docker-compose* @acdc-digital/devops-team
**/vercel.json @acdc-digital/devops-team

# Package management
**/package.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/package-lock.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/pnpm-lock.yaml @acdc-digital/backend-team @acdc-digital/frontend-team
