Repository acdc-digital/acdc-digital, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/backend-team, @acdc-digital/desktop-team, @acdc-digital/lifeos-team, @acdc-digital/ai-team, @acdc-digital/ruuf-team, @acdc-digital/smnb-team, @acdc-digital/admins, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for ACDC Digital
# This file defines who owns which parts of the codebase and who should review changes

# Global owners - these users/teams will be requested for review on ALL changes
# Replace with your actual GitHub usernames/team names
* @acdc-digital/core-team

# Project-specific ownership
# Each project has its own maintainers

# Main ACDC Digital project
/acdc-digital/ @acdc-digital/frontend-team

# Soloist project - Electron app with Convex backend  
/soloist/ @acdc-digital/soloist-team
/soloist/convex/ @acdc-digital/backend-team
/soloist/renderer/ @acdc-digital/frontend-team
/soloist/website/ @acdc-digital/frontend-team
/soloist/electron/ @acdc-digital/desktop-team

# LifeOS project - Full-stack productivity platform
/lifeOS/ @acdc-digital/lifeos-team
/lifeOS/LifeOS/convex/ @acdc-digital/backend-team
/lifeOS/LifeOS/app/ @acdc-digital/frontend-team
/lifeOS/LifeOS/lib/agents/ @acdc-digital/ai-team

# Donut project - Time tracking
/donut/ @acdc-digital/frontend-team

# Aura project
/aura/ @acdc-digital/frontend-team

# Ruuf project  
/ruuf/ @acdc-digital/ruuf-team

# SMNB project
/smnb/ @acdc-digital/smnb-team

# Critical files that require admin approval
/.github/ @acdc-digital/admins
/package.json @acdc-digital/admins
/pnpm-lock.yaml @acdc-digital/admins
/pnpm-workspace.yaml @acdc-digital/admins
/.gitignore @acdc-digital/admins
/README.md @acdc-digital/admins

# Backend/Database files need backend team review
**/convex/ @acdc-digital/backend-team
**/schema.ts @acdc-digital/backend-team
**/convex.config.ts @acdc-digital/backend-team

# Security-sensitive files need security team review
**/.env* @acdc-digital/security-team
**/auth.ts @acdc-digital/security-team
**/middleware.ts @acdc-digital/security-team
**/webhooks.ts @acdc-digital/security-team

# Frontend files
**/app/ @acdc-digital/frontend-team
**/components/ @acdc-digital/frontend-team
**/src/ @acdc-digital/frontend-team
**/*.tsx @acdc-digital/frontend-team
**/*.jsx @acdc-digital/frontend-team
**/tailwind.config.* @acdc-digital/frontend-team
**/next.config.* @acdc-digital/frontend-team

# AI/ML related files
**/agents/ @acdc-digital/ai-team
**/lib/research/ @acdc-digital/ai-team
**/*claude* @acdc-digital/ai-team
**/*openai* @acdc-digital/ai-team

# Documentation
/docs/ @acdc-digital/docs-team
**/*.md @acdc-digital/docs-team

# Build and deployment
**/scripts/ @acdc-digital/devops-team
**/.github/workflows/ @acdc-digital/devops-team
**/Dockerfile @acdc-digital/devops-team
**/docker-compose* @acdc-digital/devops-team
**/vercel.json @acdc-digital/devops-team

# Package management
**/package.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/package-lock.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/pnpm-lock.yaml @acdc-digital/backend-team @acdc-digital/frontend-team

fix: correct dashboardStore import path
  soloist/renderer/app/dashboard/_components/BrowserFooter.tsx
Owners: @acdc-digital/frontend-team

fix: correct dashboardStore import path
  soloist/renderer/app/dashboard/_components/BrowserFooter.tsx
Owners: @acdc-digital/frontend-team

fix: use useView for transitionTo in BrowserFooter
  soloist/renderer/app/dashboard/_components/BrowserFooter.tsx
Owners: @acdc-digital/frontend-team

fix: use useView for transitionTo in BrowserFooter
  soloist/renderer/app/dashboard/_components/BrowserFooter.tsx
Owners: @acdc-digital/frontend-team

fix: add help to ViewType
  soloist/renderer/store/viewOrchestrator.ts
Owners: @acdc-digital/frontend-team

fix: add help to ViewType
  soloist/renderer/store/viewOrchestrator.ts
Owners: @acdc-digital/frontend-team

fix: add type annotation for fields in dailyLogForm
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
Owners: @acdc-digital/frontend-team

fix: add type annotation for fields in dailyLogForm
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
Owners: @acdc-digital/frontend-team

fix: cast Object.entries result for proper typing
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
Owners: @acdc-digital/frontend-team

fix: cast Object.entries result for proper typing
  soloist/renderer/app/dashboard/heatmap/_components/dailyLogForm.tsx
Owners: @acdc-digital/frontend-team

fix: import ViewType from viewOrchestrator in ViewContainer
  soloist/renderer/components/ViewContainer.tsx
Owners: @acdc-digital/frontend-team

fix: import ViewType from viewOrchestrator in ViewContainer
  soloist/renderer/components/ViewContainer.tsx
Owners: @acdc-digital/frontend-team

fix: correct Templates import path in useTemplates hook
  soloist/renderer/hooks/useTemplates.ts
Owners: @acdc-digital/frontend-team

fix: correct Templates import path in useTemplates hook
  soloist/renderer/hooks/useTemplates.ts
Owners: @acdc-digital/frontend-team

fix: add macOS certificate import step to workflow
  .github/workflows/soloist-release.yml
Owners: @acdc-digital/devops-team

fix: add macOS certificate import step to workflow
  .github/workflows/soloist-release.yml
Owners: @acdc-digital/devops-team

fix: add electron build resources for macOS code signing
  .gitignore
  soloist/electron/build/create-icons.sh
  soloist/electron/build/create-proper-icns.sh
  soloist/electron/build/enhance-icons-simple.sh
  soloist/electron/build/enhance-icons.sh
  soloist/electron/build/entitlements.mac.plist
  soloist/electron/build/generate-icons.js
  soloist/electron/build/icon.icns
  soloist/electron/build/icon.icns.backup
  soloist/electron/build/icon.ico
  soloist/electron/build/icon.png
  soloist/electron/build/icon.svg
  soloist/electron/build/icons/256x256.png
  soloist/electron/build/icons/512x512.png
Owners: @acdc-digital/admins, @acdc-digital/desktop-team

fix: add electron build resources for macOS code signing
  .gitignore
  soloist/electron/build/create-icons.sh
  soloist/electron/build/create-proper-icns.sh
  soloist/electron/build/enhance-icons-simple.sh
  soloist/electron/build/enhance-icons.sh
  soloist/electron/build/entitlements.mac.plist
  soloist/electron/build/generate-icons.js
  soloist/electron/build/icon.icns
  soloist/electron/build/icon.icns.backup
  soloist/electron/build/icon.ico
  soloist/electron/build/icon.png
  soloist/electron/build/icon.svg
  soloist/electron/build/icons/256x256.png
  soloist/electron/build/icons/512x512.png
Owners: @acdc-digital/admins, @acdc-digital/desktop-team

fix: write Apple API key to file for notarization
  .github/workflows/soloist-release.yml
Owners: @acdc-digital/devops-team

fix: write Apple API key to file for notarization
  .github/workflows/soloist-release.yml
Owners: @acdc-digital/devops-team

fix: add debug logging and use printf for API key file
  .github/workflows/soloist-release.yml
  soloist/electron/electron-builder.config.js
Owners: @acdc-digital/devops-team, @acdc-digital/desktop-team

fix: add debug logging and use printf for API key file
  .github/workflows/soloist-release.yml
  soloist/electron/electron-builder.config.js
Owners: @acdc-digital/devops-team, @acdc-digital/desktop-team

fix: disable built-in notarization, use afterSign hook
  soloist/electron/electron-builder.config.js
Owners: @acdc-digital/desktop-team

fix: disable built-in notarization, use afterSign hook
  soloist/electron/electron-builder.config.js
Owners: @acdc-digital/desktop-team

fix: add more debug logging for notarization key
  .github/workflows/soloist-release.yml
  soloist/electron/electron-builder.config.js
Owners: @acdc-digital/devops-team, @acdc-digital/desktop-team

fix: add more debug logging for notarization key
  .github/workflows/soloist-release.yml
  soloist/electron/electron-builder.config.js
Owners: @acdc-digital/devops-team, @acdc-digital/desktop-team

fix: skip notarization in CI to unblock release
  soloist/electron/electron-builder.config.js
Owners: @acdc-digital/desktop-team

fix: skip notarization in CI to unblock release
  soloist/electron/electron-builder.config.js
Owners: @acdc-digital/desktop-team

fix: add contents:write permission for release
  .github/workflows/soloist-release.yml
Owners: @acdc-digital/devops-team

fix: add contents:write permission for release
  .github/workflows/soloist-release.yml
Owners: @acdc-digital/devops-team

fix: update PRODUCTION_RENDERER_URL to correct domain
  soloist/electron/index.js
Owners: @acdc-digital/desktop-team

fix: update PRODUCTION_RENDERER_URL to correct domain
  soloist/electron/index.js
Owners: @acdc-digital/desktop-team

Upgrade all Next.js projects to v16.0.7 and React 19.2.1 (CVE-2025-66478 fix)
  README.md
  acdc-digital/package.json
  acdc-digital/projects/donut/package.json
  acdc-digital/projects/grapes/grapes/package.json
  acdc-digital/projects/on-the-go/package.json
  smnb/smnb/next.config.ts
  smnb/smnb/package.json
  soloist/demo/next.config.ts
  soloist/demo/package.json
  soloist/demo/tsconfig.json
  soloist/marketing/package.json
  soloist/marketing/tsconfig.json
  soloist/pnpm-lock.yaml
  soloist/pnpm-workspace.yaml
  soloist/renderer/convex/_generated/api.d.ts
  soloist/renderer/convex/_generated/server.d.ts
  soloist/renderer/convex/_generated/server.js
  soloist/renderer/next.config.ts
  soloist/renderer/package.json
  soloist/renderer/tsconfig.json
  soloist/website/convex/_generated/api.d.ts
  soloist/website/convex/_generated/server.d.ts
  soloist/website/convex/_generated/server.js
  soloist/website/next.config.ts
  soloist/website/package.json
  soloist/website/tsconfig.json
Owners: @acdc-digital/docs-team, @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team

Upgrade all Next.js projects to v16.0.7 and React 19.2.1 (CVE-2025-66478 fix)
  README.md
  acdc-digital/package.json
  acdc-digital/projects/donut/package.json
  acdc-digital/projects/grapes/grapes/package.json
  acdc-digital/projects/on-the-go/package.json
  smnb/smnb/next.config.ts
  smnb/smnb/package.json
  soloist/demo/next.config.ts
  soloist/demo/package.json
  soloist/demo/tsconfig.json
  soloist/marketing/package.json
  soloist/marketing/tsconfig.json
  soloist/pnpm-lock.yaml
  soloist/pnpm-workspace.yaml
  soloist/renderer/convex/_generated/api.d.ts
  soloist/renderer/convex/_generated/server.d.ts
  soloist/renderer/convex/_generated/server.js
  soloist/renderer/next.config.ts
  soloist/renderer/package.json
  soloist/renderer/tsconfig.json
  soloist/website/convex/_generated/api.d.ts
  soloist/website/convex/_generated/server.d.ts
  soloist/website/convex/_generated/server.js
  soloist/website/next.config.ts
  soloist/website/package.json
  soloist/website/tsconfig.json
Owners: @acdc-digital/docs-team, @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team

Updated Readme
  README.md
Owners: @acdc-digital/docs-team

Updated Readme
  README.md
Owners: @acdc-digital/docs-team

chore: bump version to 2.0.1 for Next.js 16 security release
  soloist/demo/package.json
  soloist/electron/package.json
  soloist/package.json
  soloist/renderer/package.json
  soloist/website/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

chore: bump version to 2.0.1 for Next.js 16 security release
  soloist/demo/package.json
  soloist/electron/package.json
  soloist/package.json
  soloist/renderer/package.json
  soloist/website/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

feat: Update app icons with squircle design for v2.0.2
  soloist/.mcp.json
  soloist/electron/build/icon.icns
  soloist/electron/build/icon.icns.backup
  soloist/electron/build/icon.ico
  soloist/electron/build/icon.png
  soloist/electron/build/icon.svg
  soloist/electron/build/icons/1024x1024.png
  soloist/electron/build/icons/128x128.png
  soloist/electron/build/icons/16x16.png
  soloist/electron/build/icons/256x256.png
  soloist/electron/build/icons/32x32.png
  soloist/electron/build/icons/48x48.png
  soloist/electron/build/icons/512x512.png
  soloist/electron/build/icons/64x64.png
  soloist/electron/build/scripts/create-icons.sh
  soloist/electron/build/scripts/create-proper-icns.sh
  soloist/electron/build/scripts/enhance-icons-simple.sh
  soloist/electron/build/scripts/enhance-icons.sh
  soloist/electron/build/scripts/generate-icons.js
  soloist/electron/dock-icon-padded56.png
  soloist/electron/package.json
  soloist/package.json
Owners: @acdc-digital/soloist-team, @acdc-digital/desktop-team, @acdc-digital/devops-team, @acdc-digital/backend-team, @acdc-digital/frontend-team

feat: Update app icons with squircle design for v2.0.2
  soloist/.mcp.json
  soloist/electron/build/icon.icns
  soloist/electron/build/icon.icns.backup
  soloist/electron/build/icon.ico
  soloist/electron/build/icon.png
  soloist/electron/build/icon.svg
  soloist/electron/build/icons/1024x1024.png
  soloist/electron/build/icons/128x128.png
  soloist/electron/build/icons/16x16.png
  soloist/electron/build/icons/256x256.png
  soloist/electron/build/icons/32x32.png
  soloist/electron/build/icons/48x48.png
  soloist/electron/build/icons/512x512.png
  soloist/electron/build/icons/64x64.png
  soloist/electron/build/scripts/create-icons.sh
  soloist/electron/build/scripts/create-proper-icns.sh
  soloist/electron/build/scripts/enhance-icons-simple.sh
  soloist/electron/build/scripts/enhance-icons.sh
  soloist/electron/build/scripts/generate-icons.js
  soloist/electron/dock-icon-padded56.png
  soloist/electron/package.json
  soloist/package.json
Owners: @acdc-digital/soloist-team, @acdc-digital/desktop-team, @acdc-digital/devops-team, @acdc-digital/backend-team, @acdc-digital/frontend-team
