Repository acdc-digital/acdc-digital, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/backend-team, @acdc-digital/desktop-team, @acdc-digital/lifeos-team, @acdc-digital/ai-team, @acdc-digital/ruuf-team, @acdc-digital/smnb-team, @acdc-digital/admins, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for ACDC Digital
# This file defines who owns which parts of the codebase and who should review changes

# Global owners - these users/teams will be requested for review on ALL changes
# Replace with your actual GitHub usernames/team names
* @acdc-digital/core-team

# Project-specific ownership
# Each project has its own maintainers

# Main ACDC Digital project
/acdc-digital/ @acdc-digital/frontend-team

# Soloist project - Electron app with Convex backend  
/soloist/ @acdc-digital/soloist-team
/soloist/convex/ @acdc-digital/backend-team
/soloist/renderer/ @acdc-digital/frontend-team
/soloist/website/ @acdc-digital/frontend-team
/soloist/electron/ @acdc-digital/desktop-team

# LifeOS project - Full-stack productivity platform
/lifeOS/ @acdc-digital/lifeos-team
/lifeOS/LifeOS/convex/ @acdc-digital/backend-team
/lifeOS/LifeOS/app/ @acdc-digital/frontend-team
/lifeOS/LifeOS/lib/agents/ @acdc-digital/ai-team

# Donut project - Time tracking
/donut/ @acdc-digital/frontend-team

# Aura project
/aura/ @acdc-digital/frontend-team

# Ruuf project  
/ruuf/ @acdc-digital/ruuf-team

# SMNB project
/smnb/ @acdc-digital/smnb-team

# Critical files that require admin approval
/.github/ @acdc-digital/admins
/package.json @acdc-digital/admins
/pnpm-lock.yaml @acdc-digital/admins
/pnpm-workspace.yaml @acdc-digital/admins
/.gitignore @acdc-digital/admins
/README.md @acdc-digital/admins

# Backend/Database files need backend team review
**/convex/ @acdc-digital/backend-team
**/schema.ts @acdc-digital/backend-team
**/convex.config.ts @acdc-digital/backend-team

# Security-sensitive files need security team review
**/.env* @acdc-digital/security-team
**/auth.ts @acdc-digital/security-team
**/middleware.ts @acdc-digital/security-team
**/webhooks.ts @acdc-digital/security-team

# Frontend files
**/app/ @acdc-digital/frontend-team
**/components/ @acdc-digital/frontend-team
**/src/ @acdc-digital/frontend-team
**/*.tsx @acdc-digital/frontend-team
**/*.jsx @acdc-digital/frontend-team
**/tailwind.config.* @acdc-digital/frontend-team
**/next.config.* @acdc-digital/frontend-team

# AI/ML related files
**/agents/ @acdc-digital/ai-team
**/lib/research/ @acdc-digital/ai-team
**/*claude* @acdc-digital/ai-team
**/*openai* @acdc-digital/ai-team

# Documentation
/docs/ @acdc-digital/docs-team
**/*.md @acdc-digital/docs-team

# Build and deployment
**/scripts/ @acdc-digital/devops-team
**/.github/workflows/ @acdc-digital/devops-team
**/Dockerfile @acdc-digital/devops-team
**/docker-compose* @acdc-digital/devops-team
**/vercel.json @acdc-digital/devops-team

# Package management
**/package.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/package-lock.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/pnpm-lock.yaml @acdc-digital/backend-team @acdc-digital/frontend-team

fix: TypeScript error in Pricing disabled prop
  soloist/website/components/landing/Pricing.tsx
Owners: @acdc-digital/frontend-team

fix: TypeScript error in Pricing disabled prop
  soloist/website/components/landing/Pricing.tsx
Owners: @acdc-digital/frontend-team

fix: use Boolean() to ensure disabled prop is boolean type
  soloist/website/components/landing/Pricing.tsx
Owners: @acdc-digital/frontend-team

fix: use Boolean() to ensure disabled prop is boolean type
  soloist/website/components/landing/Pricing.tsx
Owners: @acdc-digital/frontend-team

fix: replace Transition type with any for Framer Motion
  soloist/website/components/ui/shadcn-io/input-button.tsx
Owners: @acdc-digital/frontend-team

fix: replace Transition type with any for Framer Motion
  soloist/website/components/ui/shadcn-io/input-button.tsx
Owners: @acdc-digital/frontend-team

feat: add framer-motion and import motion
  soloist/website/components/ui/shadcn-io/input-button.tsx
  soloist/website/package-lock.json
  soloist/website/package.json
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

feat: add framer-motion and import motion
  soloist/website/components/ui/shadcn-io/input-button.tsx
  soloist/website/package-lock.json
  soloist/website/package.json
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

Optimize mobile responsive design for demo showcase
  soloist/demo/app/dashboard/_components/Heatmap.tsx
  soloist/demo/app/dashboard/page.tsx
  soloist/demo/components/BrowserFooter.tsx
  soloist/website/app/globals.css
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
Owners: @acdc-digital/frontend-team

Optimize mobile responsive design for demo showcase
  soloist/demo/app/dashboard/_components/Heatmap.tsx
  soloist/demo/app/dashboard/page.tsx
  soloist/demo/components/BrowserFooter.tsx
  soloist/website/app/globals.css
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
Owners: @acdc-digital/frontend-team

Refine mobile responsive design for iPhone SE and small screens
  soloist/demo/app/dashboard/_components/Heatmap.tsx
  soloist/demo/app/dashboard/_components/sidebar.tsx
  soloist/demo/app/dashboard/page.tsx
  soloist/website/app/globals.css
  soloist/website/app/layout.tsx
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
Owners: @acdc-digital/frontend-team

Refine mobile responsive design for iPhone SE and small screens
  soloist/demo/app/dashboard/_components/Heatmap.tsx
  soloist/demo/app/dashboard/_components/sidebar.tsx
  soloist/demo/app/dashboard/page.tsx
  soloist/website/app/globals.css
  soloist/website/app/layout.tsx
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
Owners: @acdc-digital/frontend-team

Add viewport configuration for proper mobile rendering
  soloist/website/app/layout.tsx
Owners: @acdc-digital/frontend-team

Add viewport configuration for proper mobile rendering
  soloist/website/app/layout.tsx
Owners: @acdc-digital/frontend-team

Disable pinch-to-zoom to prevent layout issues
  soloist/website/app/layout.tsx
Owners: @acdc-digital/frontend-team

Disable pinch-to-zoom to prevent layout issues
  soloist/website/app/layout.tsx
Owners: @acdc-digital/frontend-team

Standardize section heading typography across landing page
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/components/features/Reflections.tsx
  soloist/website/components/landing/AnnouncementBanner.tsx
  soloist/website/components/landing/CTABanner.tsx
  soloist/website/components/landing/CompetitiveComparison.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/Pricing.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/landing/Steps.tsx
  soloist/website/components/layout/MobileTabBar.tsx
  soloist/website/components/layout/Navbar.tsx
Owners: @acdc-digital/frontend-team

Standardize section heading typography across landing page
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/components/features/Reflections.tsx
  soloist/website/components/landing/AnnouncementBanner.tsx
  soloist/website/components/landing/CTABanner.tsx
  soloist/website/components/landing/CompetitiveComparison.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/Pricing.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/landing/Steps.tsx
  soloist/website/components/layout/MobileTabBar.tsx
  soloist/website/components/layout/Navbar.tsx
Owners: @acdc-digital/frontend-team

Optimize mobile design for How it works section - adjust card spacing, mock component heights, and content positioning
  soloist/demo/app/api/auth/[...convex]/route.ts
  soloist/demo/app/api/webhook/stripe/route.ts
  soloist/demo/convex/_generated/api.ts
  soloist/demo/next.config.ts
  soloist/demo/tsconfig.json
  soloist/website/components/features/DailyLogCard.tsx
  soloist/website/components/features/FeedCard.tsx
  soloist/website/components/features/MoodForecastCard.tsx
  soloist/website/components/features/RecommendationCard.tsx
  soloist/website/components/landing/Steps.tsx
  stdio/.env.local.example
  stdio/CANVAS_QUICKSTART.md
  stdio/CHAT-FEATURE.md
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/Editor.tsx
  stdio/app/_components/canvas/CanvasControls.tsx
  stdio/app/_components/canvas/ComponentCanvas.tsx
  stdio/app/_components/canvas/ComponentStorage.tsx
  stdio/app/_components/canvas/PreviewFrame.tsx
  stdio/app/_components/canvas/README.md
  stdio/app/_components/canvas/index.ts
  stdio/app/api/chat/route.ts
  stdio/app/layout.tsx
  stdio/app/page.tsx
  stdio/components/ConvexClientProvider.tsx
  stdio/convex/_generated/api.d.ts
  stdio/convex/components.ts
  stdio/convex/schema.ts
  stdio/lib/prompts/systemPrompts.ts
  stdio/package-lock.json
  stdio/package.json
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team, @acdc-digital/soloist-team, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/core-team

Optimize mobile design for How it works section - adjust card spacing, mock component heights, and content positioning
  soloist/demo/app/api/auth/[...convex]/route.ts
  soloist/demo/app/api/webhook/stripe/route.ts
  soloist/demo/convex/_generated/api.ts
  soloist/demo/next.config.ts
  soloist/demo/tsconfig.json
  soloist/website/components/features/DailyLogCard.tsx
  soloist/website/components/features/FeedCard.tsx
  soloist/website/components/features/MoodForecastCard.tsx
  soloist/website/components/features/RecommendationCard.tsx
  soloist/website/components/landing/Steps.tsx
  stdio/.env.local.example
  stdio/CANVAS_QUICKSTART.md
  stdio/CHAT-FEATURE.md
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/Editor.tsx
  stdio/app/_components/canvas/CanvasControls.tsx
  stdio/app/_components/canvas/ComponentCanvas.tsx
  stdio/app/_components/canvas/ComponentStorage.tsx
  stdio/app/_components/canvas/PreviewFrame.tsx
  stdio/app/_components/canvas/README.md
  stdio/app/_components/canvas/index.ts
  stdio/app/api/chat/route.ts
  stdio/app/layout.tsx
  stdio/app/page.tsx
  stdio/components/ConvexClientProvider.tsx
  stdio/convex/_generated/api.d.ts
  stdio/convex/components.ts
  stdio/convex/schema.ts
  stdio/lib/prompts/systemPrompts.ts
  stdio/package-lock.json
  stdio/package.json
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team, @acdc-digital/soloist-team, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/core-team

Add mobile-optimized comparison cards with compact layout and consistent styling
  soloist/website/components/landing/CompetitiveComparison.tsx
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/canvas/PreviewFrame.tsx
  stdio/app/api/chat/route.ts
  stdio/package-lock.json
  stdio/package.json
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

Add mobile-optimized comparison cards with compact layout and consistent styling
  soloist/website/components/landing/CompetitiveComparison.tsx
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/canvas/PreviewFrame.tsx
  stdio/app/api/chat/route.ts
  stdio/package-lock.json
  stdio/package.json
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

Complete mobile optimization for landing page components
  soloist/website/components/landing/CompetitiveComparison.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/Pricing.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/layout/Footer.tsx
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/canvas/PreviewFrame.tsx
  stdio/app/api/chat/route.ts
  stdio/lib/prompts/systemPrompts.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/core-team

Complete mobile optimization for landing page components
  soloist/website/components/landing/CompetitiveComparison.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/Pricing.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/layout/Footer.tsx
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/canvas/PreviewFrame.tsx
  stdio/app/api/chat/route.ts
  stdio/lib/prompts/systemPrompts.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/core-team

Add collapse functionality to side panel, code panel, and storage section
  stdio/app/_components/SidePanel.tsx
  stdio/app/_components/canvas/ComponentCanvas.tsx
  stdio/app/page.tsx
  stdio/package-lock.json
  stdio/package.json
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

Add collapse functionality to side panel, code panel, and storage section
  stdio/app/_components/SidePanel.tsx
  stdio/app/_components/canvas/ComponentCanvas.tsx
  stdio/app/page.tsx
  stdio/package-lock.json
  stdio/package.json
Owners: @acdc-digital/frontend-team, @acdc-digital/backend-team

feat(stdio): move component storage to side panel and improve UI layout
  stdio/app/_components/SidePanel.tsx
  stdio/app/_components/canvas/ComponentCanvas.tsx
  stdio/app/_components/canvas/ComponentStorage.tsx
  stdio/app/page.tsx
  stdio/lib/prompts/systemPrompts.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/core-team

feat(stdio): move component storage to side panel and improve UI layout
  stdio/app/_components/SidePanel.tsx
  stdio/app/_components/canvas/ComponentCanvas.tsx
  stdio/app/_components/canvas/ComponentStorage.tsx
  stdio/app/page.tsx
  stdio/lib/prompts/systemPrompts.ts
Owners: @acdc-digital/frontend-team, @acdc-digital/core-team

feat(stdio): consolidate canvas controls into single row
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/canvas/CanvasControls.tsx
  stdio/app/_components/canvas/ComponentCanvas.tsx
Owners: @acdc-digital/frontend-team

feat(stdio): consolidate canvas controls into single row
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/canvas/CanvasControls.tsx
  stdio/app/_components/canvas/ComponentCanvas.tsx
Owners: @acdc-digital/frontend-team

Make Soloist website fully responsive across all components
  .design/responsive-web/responsiveWebsites.md
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/components/features/Reflections.tsx
  soloist/website/components/landing/CompetitiveComparison.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/NewsletterSignup.tsx
  soloist/website/components/landing/Pricing.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/landing/Steps.tsx
  soloist/website/components/layout/Footer.tsx
  soloist/website/components/layout/Navbar.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team

Make Soloist website fully responsive across all components
  .design/responsive-web/responsiveWebsites.md
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/components/features/Reflections.tsx
  soloist/website/components/landing/CompetitiveComparison.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/NewsletterSignup.tsx
  soloist/website/components/landing/Pricing.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/landing/Steps.tsx
  soloist/website/components/layout/Footer.tsx
  soloist/website/components/layout/Navbar.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/frontend-team

Update Soloist website components and Vercel configuration
  soloist/website/components/features/Reflections.tsx
  soloist/website/components/landing/CTABanner.tsx
  soloist/website/components/landing/CompetitiveComparison.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/Pricing.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/layout/Navbar.tsx
  soloist/website/vercel.json
Owners: @acdc-digital/frontend-team, @acdc-digital/devops-team

Update Soloist website components and Vercel configuration
  soloist/website/components/features/Reflections.tsx
  soloist/website/components/landing/CTABanner.tsx
  soloist/website/components/landing/CompetitiveComparison.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/Pricing.tsx
  soloist/website/components/landing/Roadmap.tsx
  soloist/website/components/layout/Navbar.tsx
  soloist/website/vercel.json
Owners: @acdc-digital/frontend-team, @acdc-digital/devops-team

feat: add file upload with design guidelines integration
  soloist/convex/_generated/api.d.ts
  soloist/convex/learnMore.ts
  soloist/convex/schema.ts
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/components/features/BouncingLogoCompact.tsx
  soloist/website/components/landing/AnnouncementBanner.tsx
  soloist/website/components/landing/CTABanner.tsx
  soloist/website/components/layout/Navbar.tsx
  soloist/website/modals/SignupPaymentModal.tsx
  stdio/.docs/CANVAS_QUICKSTART.md
  stdio/.docs/CHAT-FEATURE.md
  stdio/.docs/chat-integration.md
  stdio/.docs/files-api-implementation.md
  stdio/.gitignore
  stdio/app/_components/ActivityBar.tsx
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/SidePanel.tsx
  stdio/app/_components/canvas/CanvasControls.tsx
  stdio/app/_components/files/FileList.tsx
  stdio/app/api/chat/route.ts
  stdio/app/api/files/upload/route.ts
  stdio/app/page.tsx
  stdio/convex/_generated/api.d.ts
  stdio/convex/files.ts
  stdio/convex/schema.ts
  stdio/lib/prompts/systemPrompts.ts
  stdio/package-lock.json
  stdio/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/docs-team, @acdc-digital/core-team

feat: add file upload with design guidelines integration
  soloist/convex/_generated/api.d.ts
  soloist/convex/learnMore.ts
  soloist/convex/schema.ts
  soloist/website/app/page.tsx
  soloist/website/components/demo/DemoApp.tsx
  soloist/website/components/features/BouncingLogoCompact.tsx
  soloist/website/components/landing/AnnouncementBanner.tsx
  soloist/website/components/landing/CTABanner.tsx
  soloist/website/components/layout/Navbar.tsx
  soloist/website/modals/SignupPaymentModal.tsx
  stdio/.docs/CANVAS_QUICKSTART.md
  stdio/.docs/CHAT-FEATURE.md
  stdio/.docs/chat-integration.md
  stdio/.docs/files-api-implementation.md
  stdio/.gitignore
  stdio/app/_components/ActivityBar.tsx
  stdio/app/_components/ChatPanel.tsx
  stdio/app/_components/SidePanel.tsx
  stdio/app/_components/canvas/CanvasControls.tsx
  stdio/app/_components/files/FileList.tsx
  stdio/app/api/chat/route.ts
  stdio/app/api/files/upload/route.ts
  stdio/app/page.tsx
  stdio/convex/_generated/api.d.ts
  stdio/convex/files.ts
  stdio/convex/schema.ts
  stdio/lib/prompts/systemPrompts.ts
  stdio/package-lock.json
  stdio/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team, @acdc-digital/docs-team, @acdc-digital/core-team

feat(auth): Add Google and Apple OAuth providers
  soloist/convex/auth.ts
  soloist/convex/schema.ts
  soloist/website/.docs/BRAND_UPGRADE_V2.md
  soloist/website/.docs/EXECUTIVE_SUMMARY.md
  soloist/website/.docs/IMPLEMENTATION_GUIDE.md
  soloist/website/app/page.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/Hero.tsx
  soloist/website/components/landing/HeroEnhanced.tsx
  soloist/website/components/landing/HeroHeader.tsx
  soloist/website/components/layout/Navbar.tsx
  soloist/website/modals/DownloadModal.tsx
  soloist/website/modals/ExportDataModal.tsx
  soloist/website/modals/SignInModal.tsx
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/security-team, @acdc-digital/backend-team, @acdc-digital/docs-team, @acdc-digital/frontend-team

feat(auth): Add Google and Apple OAuth providers
  soloist/convex/auth.ts
  soloist/convex/schema.ts
  soloist/website/.docs/BRAND_UPGRADE_V2.md
  soloist/website/.docs/EXECUTIVE_SUMMARY.md
  soloist/website/.docs/IMPLEMENTATION_GUIDE.md
  soloist/website/app/page.tsx
  soloist/website/components/landing/FAQ.tsx
  soloist/website/components/landing/Hero.tsx
  soloist/website/components/landing/HeroEnhanced.tsx
  soloist/website/components/landing/HeroHeader.tsx
  soloist/website/components/layout/Navbar.tsx
  soloist/website/modals/DownloadModal.tsx
  soloist/website/modals/ExportDataModal.tsx
  soloist/website/modals/SignInModal.tsx
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/security-team, @acdc-digital/backend-team, @acdc-digital/docs-team, @acdc-digital/frontend-team

Add redirect countdown after successful Stripe checkout
  soloist/convex/CustomPassword.ts
  soloist/website/app/api/create-checkout-session/route.ts
  soloist/website/components/landing/DesignComparison.tsx
  soloist/website/components/landing/DownloadButtonsMobile.tsx
  soloist/website/components/landing/Hero.tsx
  soloist/website/components/landing/HeroEnhanced.tsx
  soloist/website/components/landing/HeroFeature.tsx
  soloist/website/components/landing/OpenSource.tsx
  soloist/website/components/landing/ParticleAnimation.tsx
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

Add redirect countdown after successful Stripe checkout
  soloist/convex/CustomPassword.ts
  soloist/website/app/api/create-checkout-session/route.ts
  soloist/website/components/landing/DesignComparison.tsx
  soloist/website/components/landing/DownloadButtonsMobile.tsx
  soloist/website/components/landing/Hero.tsx
  soloist/website/components/landing/HeroEnhanced.tsx
  soloist/website/components/landing/HeroFeature.tsx
  soloist/website/components/landing/OpenSource.tsx
  soloist/website/components/landing/ParticleAnimation.tsx
  soloist/website/modals/SignupPaymentModal.tsx
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team
