Repository acdc-digital/acdc-digital, changes with the owners that .github/CODEOWNERS names for each.
All owners: @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/soloist-team, @acdc-digital/backend-team, @acdc-digital/desktop-team, @acdc-digital/lifeos-team, @acdc-digital/ai-team, @acdc-digital/ruuf-team, @acdc-digital/smnb-team, @acdc-digital/admins, @acdc-digital/security-team, @acdc-digital/docs-team, @acdc-digital/devops-team

.github/CODEOWNERS:

# CODEOWNERS file for ACDC Digital
# This file defines who owns which parts of the codebase and who should review changes

# Global owners - these users/teams will be requested for review on ALL changes
# Replace with your actual GitHub usernames/team names
* @acdc-digital/core-team

# Project-specific ownership
# Each project has its own maintainers

# Main ACDC Digital project
/acdc-digital/ @acdc-digital/frontend-team

# Soloist project - Electron app with Convex backend  
/soloist/ @acdc-digital/soloist-team
/soloist/convex/ @acdc-digital/backend-team
/soloist/renderer/ @acdc-digital/frontend-team
/soloist/website/ @acdc-digital/frontend-team
/soloist/electron/ @acdc-digital/desktop-team

# LifeOS project - Full-stack productivity platform
/lifeOS/ @acdc-digital/lifeos-team
/lifeOS/LifeOS/convex/ @acdc-digital/backend-team
/lifeOS/LifeOS/app/ @acdc-digital/frontend-team
/lifeOS/LifeOS/lib/agents/ @acdc-digital/ai-team

# Donut project - Time tracking
/donut/ @acdc-digital/frontend-team

# Aura project
/aura/ @acdc-digital/frontend-team

# Ruuf project  
/ruuf/ @acdc-digital/ruuf-team

# SMNB project
/smnb/ @acdc-digital/smnb-team

# Critical files that require admin approval
/.github/ @acdc-digital/admins
/package.json @acdc-digital/admins
/pnpm-lock.yaml @acdc-digital/admins
/pnpm-workspace.yaml @acdc-digital/admins
/.gitignore @acdc-digital/admins
/README.md @acdc-digital/admins

# Backend/Database files need backend team review
**/convex/ @acdc-digital/backend-team
**/schema.ts @acdc-digital/backend-team
**/convex.config.ts @acdc-digital/backend-team

# Security-sensitive files need security team review
**/.env* @acdc-digital/security-team
**/auth.ts @acdc-digital/security-team
**/middleware.ts @acdc-digital/security-team
**/webhooks.ts @acdc-digital/security-team

# Frontend files
**/app/ @acdc-digital/frontend-team
**/components/ @acdc-digital/frontend-team
**/src/ @acdc-digital/frontend-team
**/*.tsx @acdc-digital/frontend-team
**/*.jsx @acdc-digital/frontend-team
**/tailwind.config.* @acdc-digital/frontend-team
**/next.config.* @acdc-digital/frontend-team

# AI/ML related files
**/agents/ @acdc-digital/ai-team
**/lib/research/ @acdc-digital/ai-team
**/*claude* @acdc-digital/ai-team
**/*openai* @acdc-digital/ai-team

# Documentation
/docs/ @acdc-digital/docs-team
**/*.md @acdc-digital/docs-team

# Build and deployment
**/scripts/ @acdc-digital/devops-team
**/.github/workflows/ @acdc-digital/devops-team
**/Dockerfile @acdc-digital/devops-team
**/docker-compose* @acdc-digital/devops-team
**/vercel.json @acdc-digital/devops-team

# Package management
**/package.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/package-lock.json @acdc-digital/backend-team @acdc-digital/frontend-team
**/pnpm-lock.yaml @acdc-digital/backend-team @acdc-digital/frontend-team

feat(help): Add interactive feature selection with badges and accordion intro
  soloist/pnpm-lock.yaml
  soloist/renderer/app/dashboard/help/components/AnnotatedDashboard.tsx
  soloist/renderer/app/dashboard/help/components/GuideComponents.tsx
  soloist/renderer/app/dashboard/help/components/UserGuide.tsx
  soloist/renderer/components/ui/accordion.tsx
  soloist/renderer/package.json
Owners: @acdc-digital/backend-team, @acdc-digital/frontend-team

feat: improve UI across dashboard views
  soloist/renderer/app/dashboard/base/_components/BaselineSelfAnalysisForm.tsx
  soloist/renderer/app/dashboard/heatmap/_components/LongForm.tsx
  soloist/renderer/app/dashboard/help/components/AnnotatedDashboard.tsx
  soloist/renderer/app/dashboard/help/components/HelpLayoutClient.tsx
  soloist/renderer/app/dashboard/help/components/UserGuide.tsx
  soloist/renderer/app/dashboard/page.tsx
  soloist/renderer/app/dashboard/soloist/_components/DailyInsights.tsx
  soloist/renderer/public/Group-01.svg
  soloist/renderer/public/Group-02.svg
  soloist/renderer/public/Group-03.svg
  soloist/renderer/public/Group-04.svg
  soloist/renderer/public/Group-05.svg
  soloist/renderer/public/soloist-main_v2.svg
  soloist/renderer/public/soloist-notes_v2.svg
Owners: @acdc-digital/frontend-team

feat: add editable session titles in canvas sidebar and guide improvements
  soloist/renderer/app/dashboard/canvas/_components/SessionSidebar.tsx
  soloist/renderer/app/dashboard/help/components/AnnotatedDashboard.tsx
  soloist/renderer/public/Group-06.svg
  soloist/renderer/public/Group-07.svg
Owners: @acdc-digital/frontend-team

docs: add Soloist and SMNB image cards to README
  README.md
  public/smnb.png
  public/soloist.png
  smnb/smnb/tsconfig.json
  soloist/website/app/wiki/waterfall/layout.tsx
  soloist/website/app/wiki/waterfall/page.tsx
Owners: @acdc-digital/docs-team, @acdc-digital/core-team, @acdc-digital/smnb-team, @acdc-digital/frontend-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

docs: add Soloist hyperlink and smaller captions
  README.md
Owners: @acdc-digital/docs-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

docs: add captions to Soloist and SMNB image cards
  README.md
Owners: @acdc-digital/docs-team

feat: add Agent Skills for AI-powered development workflows
  .github/skills/convex-development/SKILL.md
  .github/skills/convex-development/references/convex-patterns.md
  .github/skills/git-workflow/SKILL.md
  .github/skills/monorepo-navigation/SKILL.md
  .github/skills/nextjs-patterns/SKILL.md
  .github/skills/tailwind-design/SKILL.md
  .github/skills/tailwind-design/references/brand-guidelines.md
  .github/skills/tailwind-design/references/component-patterns.md
  .gitignore
  .scripts/create-package.sh
  .vscode/settings.json
  README.md
  elvato/README.md
  elvato/app/globals.css
  elvato/app/layout.tsx
  elvato/app/page.tsx
  elvato/components/ui/button.tsx
  elvato/convex/convex.config.ts
  elvato/convex/schema.ts
  elvato/convex/tsconfig.json
  elvato/eslint.config.mjs
  elvato/lib/utils.ts
  elvato/next.config.ts
  elvato/package-lock.json
  elvato/package.json
  elvato/postcss.config.mjs
  elvato/tailwind.config.ts
  elvato/tsconfig.json
Owners: @acdc-digital/docs-team, @acdc-digital/admins, @acdc-digital/core-team, @acdc-digital/frontend-team, @acdc-digital/backend-team

feat: add Agent Skills for AI-powered development workflows
  README.md
Owners: @acdc-digital/docs-team

feat: add Agent Skills for AI-powered development workflows
  README.md
Owners: @acdc-digital/docs-team

feat: add Agent Skills for AI-powered development workflows
  README.md
Owners: @acdc-digital/docs-team

feat: add Agent Skills for AI-powered development workflows
  README.md
Owners: @acdc-digital/docs-team

feat: add Agent Skills for AI-powered development workflows
  README.md
Owners: @acdc-digital/docs-team

feat: add Agent Skills for AI-powered development workflows
  README.md
Owners: @acdc-digital/docs-team

feat: add Agent Skills for AI-powered development workflows
  README.md
Owners: @acdc-digital/docs-team

feat: add Elvato as third featured project - Pure-play Lighting e-Tailer with headless ecommerce
  README.md
Owners: @acdc-digital/docs-team

fix: convert Elvato image to PNG for GitHub README compatibility
  README.md
  public/elvato.png
Owners: @acdc-digital/docs-team, @acdc-digital/core-team

fix: convert Elvato image to PNG for GitHub README compatibility
  README.md
Owners: @acdc-digital/docs-team

fix: use elvato-webv2.png and move Elvato to second row
  README.md
Owners: @acdc-digital/docs-team

feat: add elvato-webv2.png image
  public/elvato-webv2.png
Owners: @acdc-digital/core-team
